<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_30fdd450778a6ffdddc60165b8649a9b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_30fdd450778a6ffdddc60165b8649a9b" ></div>
        
</body>
<script>
    
    
            var map_30fdd450778a6ffdddc60165b8649a9b = L.map(
                "map_30fdd450778a6ffdddc60165b8649a9b",
                {
                    center: [37.49798192509509, 127.02755354445308],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d6f3c55ca54ef40a76e670e9b54b06d8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_30fdd450778a6ffdddc60165b8649a9b);
        
    
            var marker_75c2b89dc36349025389e7300d574782 = L.marker(
                [37.504673, 127.02579498],
                {}
            ).addTo(map_30fdd450778a6ffdddc60165b8649a9b);
        
    
            var icon_788b590cf401922ec5e0300daad60542 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_75c2b89dc36349025389e7300d574782.setIcon(icon_788b590cf401922ec5e0300daad60542);
        
    
        var popup_a426751a69a6cca17e8ccca9eb577382 = L.popup({"maxWidth": "100%"});

        
            
                var html_fa11b35bfdda2e888d81b7ddce9f0d52 = $(`<div id="html_fa11b35bfdda2e888d81b7ddce9f0d52" style="width: 100.0%; height: 100.0%;">{'정류장명': '2421. 신논현역 4번출구', '대여가능 수': '1', '반납율': '낮음'}</div>`)[0];
                popup_a426751a69a6cca17e8ccca9eb577382.setContent(html_fa11b35bfdda2e888d81b7ddce9f0d52);
            
        

        marker_75c2b89dc36349025389e7300d574782.bindPopup(popup_a426751a69a6cca17e8ccca9eb577382)
        ;

        
    
    
            marker_75c2b89dc36349025389e7300d574782.bindTooltip(
                `<div>
                     {'정류장명': '2421. 신논현역 4번출구', '대여가능 수': '1', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b743159fc997d771436f0dc8c336d76 = L.marker(
                [37.49325943, 127.02953339],
                {}
            ).addTo(map_30fdd450778a6ffdddc60165b8649a9b);
        
    
            var icon_0a433e1674c7cbc51a0676ceebb08985 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9b743159fc997d771436f0dc8c336d76.setIcon(icon_0a433e1674c7cbc51a0676ceebb08985);
        
    
        var popup_464c09849ce690a659f08f95851baae6 = L.popup({"maxWidth": "100%"});

        
            
                var html_33ce6636f8a161433f38d22fa277015b = $(`<div id="html_33ce6636f8a161433f38d22fa277015b" style="width: 100.0%; height: 100.0%;">{'정류장명': '2505. 우성아파트사거리 (기업은행앞)', '대여가능 수': '10', '반납율': '높음'}</div>`)[0];
                popup_464c09849ce690a659f08f95851baae6.setContent(html_33ce6636f8a161433f38d22fa277015b);
            
        

        marker_9b743159fc997d771436f0dc8c336d76.bindPopup(popup_464c09849ce690a659f08f95851baae6)
        ;

        
    
    
            marker_9b743159fc997d771436f0dc8c336d76.bindTooltip(
                `<div>
                     {'정류장명': '2505. 우성아파트사거리 (기업은행앞)', '대여가능 수': '10', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5ca5690fb1bd73e2259105085e442609 = L.marker(
                [37.49500275, 127.03294373],
                {}
            ).addTo(map_30fdd450778a6ffdddc60165b8649a9b);
        
    
            var icon_a52a3e561937192ab1aa2efc4c0dda30 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5ca5690fb1bd73e2259105085e442609.setIcon(icon_a52a3e561937192ab1aa2efc4c0dda30);
        
    
        var popup_03b1b1a63d205d66037f1973d2d0aee7 = L.popup({"maxWidth": "100%"});

        
            
                var html_e3e649d663c1b2bd70f78f59b9eb8e8b = $(`<div id="html_e3e649d663c1b2bd70f78f59b9eb8e8b" style="width: 100.0%; height: 100.0%;">{'정류장명': '3628. 역삼1동 주민센터', '대여가능 수': '5', '반납율': '높음'}</div>`)[0];
                popup_03b1b1a63d205d66037f1973d2d0aee7.setContent(html_e3e649d663c1b2bd70f78f59b9eb8e8b);
            
        

        marker_5ca5690fb1bd73e2259105085e442609.bindPopup(popup_03b1b1a63d205d66037f1973d2d0aee7)
        ;

        
    
    
            marker_5ca5690fb1bd73e2259105085e442609.bindTooltip(
                `<div>
                     {'정류장명': '3628. 역삼1동 주민센터', '대여가능 수': '5', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>