<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7d2a63f45298d434b8323ebd1d9dc632 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7d2a63f45298d434b8323ebd1d9dc632" ></div>
        
</body>
<script>
    
    
            var map_7d2a63f45298d434b8323ebd1d9dc632 = L.map(
                "map_7d2a63f45298d434b8323ebd1d9dc632",
                {
                    center: [37.540839990937776, 127.06765880158264],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_14872680d1f1bd18c5c4e12b90a0dbac = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7d2a63f45298d434b8323ebd1d9dc632);
        
    
            var marker_3c615ac12a9c32f3126f160848bbea23 = L.marker(
                [37.53730774, 127.07035065],
                {}
            ).addTo(map_7d2a63f45298d434b8323ebd1d9dc632);
        
    
            var icon_1850515d47e3a348c8d77d494ce208da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_3c615ac12a9c32f3126f160848bbea23.setIcon(icon_1850515d47e3a348c8d77d494ce208da);
        
    
        var popup_f8104eb067bca4966ddb8765f0ac5359 = L.popup({"maxWidth": "100%"});

        
            
                var html_dd0cfcfaaf2b80d76152bedc1f37f9c1 = $(`<div id="html_dd0cfcfaaf2b80d76152bedc1f37f9c1" style="width: 100.0%; height: 100.0%;">{'정류장명': '501. 광진구의회 앞', '대여가능 수': '1', '반납율': '낮음'}</div>`)[0];
                popup_f8104eb067bca4966ddb8765f0ac5359.setContent(html_dd0cfcfaaf2b80d76152bedc1f37f9c1);
            
        

        marker_3c615ac12a9c32f3126f160848bbea23.bindPopup(popup_f8104eb067bca4966ddb8765f0ac5359)
        ;

        
    
    
            marker_3c615ac12a9c32f3126f160848bbea23.bindTooltip(
                `<div>
                     {'정류장명': '501. 광진구의회 앞', '대여가능 수': '1', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_34f21ffbd7886315514246bc94ba82e9 = L.marker(
                [37.53913879, 127.07061768],
                {}
            ).addTo(map_7d2a63f45298d434b8323ebd1d9dc632);
        
    
            var icon_59847b0eb3b5d0d9fa4cef29da6f883c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_34f21ffbd7886315514246bc94ba82e9.setIcon(icon_59847b0eb3b5d0d9fa4cef29da6f883c);
        
    
        var popup_6d1eb229d3326e5e1e2a0446ac4bb74d = L.popup({"maxWidth": "100%"});

        
            
                var html_1ed32d4306c0bff533ffe77fe8d87435 = $(`<div id="html_1ed32d4306c0bff533ffe77fe8d87435" style="width: 100.0%; height: 100.0%;">{'정류장명': '3533. 건대입구역 사거리(롯데백화점)', '대여가능 수': '13', '반납율': '높음'}</div>`)[0];
                popup_6d1eb229d3326e5e1e2a0446ac4bb74d.setContent(html_1ed32d4306c0bff533ffe77fe8d87435);
            
        

        marker_34f21ffbd7886315514246bc94ba82e9.bindPopup(popup_6d1eb229d3326e5e1e2a0446ac4bb74d)
        ;

        
    
    
            marker_34f21ffbd7886315514246bc94ba82e9.bindTooltip(
                `<div>
                     {'정류장명': '3533. 건대입구역 사거리(롯데백화점)', '대여가능 수': '13', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f89121d36b7f512789bd8ff759e6cd07 = L.marker(
                [37.5401268, 127.06949615],
                {}
            ).addTo(map_7d2a63f45298d434b8323ebd1d9dc632);
        
    
            var icon_b6273f33c36dd917ad67be75619cd426 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_f89121d36b7f512789bd8ff759e6cd07.setIcon(icon_b6273f33c36dd917ad67be75619cd426);
        
    
        var popup_732ec74943d56bdd1cc29a9442cad489 = L.popup({"maxWidth": "100%"});

        
            
                var html_0eea81b184febaacf18db00a024c13a0 = $(`<div id="html_0eea81b184febaacf18db00a024c13a0" style="width: 100.0%; height: 100.0%;">{'정류장명': '3534. 건대입구역 5번출구 뒤', '대여가능 수': '1', '반납율': '낮음'}</div>`)[0];
                popup_732ec74943d56bdd1cc29a9442cad489.setContent(html_0eea81b184febaacf18db00a024c13a0);
            
        

        marker_f89121d36b7f512789bd8ff759e6cd07.bindPopup(popup_732ec74943d56bdd1cc29a9442cad489)
        ;

        
    
    
            marker_f89121d36b7f512789bd8ff759e6cd07.bindTooltip(
                `<div>
                     {'정류장명': '3534. 건대입구역 5번출구 뒤', '대여가능 수': '1', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_70d0502970429463c81b19a130b93aea = L.marker(
                [37.54124832, 127.06604004],
                {}
            ).addTo(map_7d2a63f45298d434b8323ebd1d9dc632);
        
    
            var icon_ea40ea6831600b3cae4ae7fae6d5d3bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_70d0502970429463c81b19a130b93aea.setIcon(icon_ea40ea6831600b3cae4ae7fae6d5d3bd);
        
    
        var popup_8eea471c2f3c216adc5c39aca7bdae03 = L.popup({"maxWidth": "100%"});

        
            
                var html_602813241adb161dfbf2f6f5da4609bc = $(`<div id="html_602813241adb161dfbf2f6f5da4609bc" style="width: 100.0%; height: 100.0%;">{'정류장명': '3541. 커먼그라운드', '대여가능 수': '4', '반납율': '보통'}</div>`)[0];
                popup_8eea471c2f3c216adc5c39aca7bdae03.setContent(html_602813241adb161dfbf2f6f5da4609bc);
            
        

        marker_70d0502970429463c81b19a130b93aea.bindPopup(popup_8eea471c2f3c216adc5c39aca7bdae03)
        ;

        
    
    
            marker_70d0502970429463c81b19a130b93aea.bindTooltip(
                `<div>
                     {'정류장명': '3541. 커먼그라운드', '대여가능 수': '4', '반납율': '보통'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>