<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ffe81d1661c0aac2021a6556a63c89e2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ffe81d1661c0aac2021a6556a63c89e2" ></div>
        
</body>
<script>
    
    
            var map_ffe81d1661c0aac2021a6556a63c89e2 = L.map(
                "map_ffe81d1661c0aac2021a6556a63c89e2",
                {
                    center: [37.49142045051981, 127.0141911239256],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3957309bf9fb19e3546d763defd44827 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ffe81d1661c0aac2021a6556a63c89e2);
        
    
            var marker_507152a70681192ba2277fd56d48c827 = L.marker(
                [37.49421692, 127.01378632],
                {}
            ).addTo(map_ffe81d1661c0aac2021a6556a63c89e2);
        
    
            var icon_6d42cf4caf97fe1effc7f85b7453c2ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_507152a70681192ba2277fd56d48c827.setIcon(icon_6d42cf4caf97fe1effc7f85b7453c2ae);
        
    
        var popup_67e430e87d6cfcf087a9d5a7c4606758 = L.popup({"maxWidth": "100%"});

        
            
                var html_8090a4b63bfd3b9eba1b698a28e5cca1 = $(`<div id="html_8090a4b63bfd3b9eba1b698a28e5cca1" style="width: 100.0%; height: 100.0%;">{'정류장명': '2239.교대역 6번출구', '대여가능 수': '4', '반납율': '높음'}</div>`)[0];
                popup_67e430e87d6cfcf087a9d5a7c4606758.setContent(html_8090a4b63bfd3b9eba1b698a28e5cca1);
            
        

        marker_507152a70681192ba2277fd56d48c827.bindPopup(popup_67e430e87d6cfcf087a9d5a7c4606758)
        ;

        
    
    
            marker_507152a70681192ba2277fd56d48c827.bindTooltip(
                `<div>
                     {'정류장명': '2239.교대역 6번출구', '대여가능 수': '4', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d225d67d3a6b58161540593cd4dfec84 = L.marker(
                [37.49361801, 127.01418304],
                {}
            ).addTo(map_ffe81d1661c0aac2021a6556a63c89e2);
        
    
            var icon_e00cfcc076f4b695ef2ba8e4a16fe228 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d225d67d3a6b58161540593cd4dfec84.setIcon(icon_e00cfcc076f4b695ef2ba8e4a16fe228);
        
    
        var popup_19ffc2c900a0badaeeffd9423ae381b2 = L.popup({"maxWidth": "100%"});

        
            
                var html_5d1758e091a0f594bbfedab907bf10b0 = $(`<div id="html_5d1758e091a0f594bbfedab907bf10b0" style="width: 100.0%; height: 100.0%;">{'정류장명': '2279. 교대역 5번출구뒤', '대여가능 수': '1', '반납율': '보통'}</div>`)[0];
                popup_19ffc2c900a0badaeeffd9423ae381b2.setContent(html_5d1758e091a0f594bbfedab907bf10b0);
            
        

        marker_d225d67d3a6b58161540593cd4dfec84.bindPopup(popup_19ffc2c900a0badaeeffd9423ae381b2)
        ;

        
    
    
            marker_d225d67d3a6b58161540593cd4dfec84.bindTooltip(
                `<div>
                     {'정류장명': '2279. 교대역 5번출구뒤', '대여가능 수': '1', '반납율': '보통'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>