<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_063682d02312d71f7d29f3ae05eafdf3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_063682d02312d71f7d29f3ae05eafdf3" ></div>
        
</body>
<script>
    
    
            var map_063682d02312d71f7d29f3ae05eafdf3 = L.map(
                "map_063682d02312d71f7d29f3ae05eafdf3",
                {
                    center: [37.52044110709711, 126.98071861681541],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0b4da3aec0d0b2c7b4e9bd508a007b76 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_063682d02312d71f7d29f3ae05eafdf3);
        
    
            var marker_721a73f263b911411c3b8ddba47800bf = L.marker(
                [37.52272415, 126.97277069],
                {}
            ).addTo(map_063682d02312d71f7d29f3ae05eafdf3);
        
    
            var icon_36c7154e9bcca2b0b6a1f52327263fab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_721a73f263b911411c3b8ddba47800bf.setIcon(icon_36c7154e9bcca2b0b6a1f52327263fab);
        
    
        var popup_74a8ae5747d795eb2e4bc3c237c2af9d = L.popup({"maxWidth": "100%"});

        
            
                var html_273a56cf30aab8a7135c109d3cb1f5f7 = $(`<div id="html_273a56cf30aab8a7135c109d3cb1f5f7" style="width: 100.0%; height: 100.0%;">{'정류장명': '855.이촌역5번출구 앞', '대여가능 수': '2', '반납율': '높음'}</div>`)[0];
                popup_74a8ae5747d795eb2e4bc3c237c2af9d.setContent(html_273a56cf30aab8a7135c109d3cb1f5f7);
            
        

        marker_721a73f263b911411c3b8ddba47800bf.bindPopup(popup_74a8ae5747d795eb2e4bc3c237c2af9d)
        ;

        
    
    
            marker_721a73f263b911411c3b8ddba47800bf.bindTooltip(
                `<div>
                     {'정류장명': '855.이촌역5번출구 앞', '대여가능 수': '2', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_24b29816b58aff08a1bc306389478652 = L.marker(
                [37.52177048, 126.977005],
                {}
            ).addTo(map_063682d02312d71f7d29f3ae05eafdf3);
        
    
            var icon_5b9c3418f0cee79c47de30744ad7e3bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_24b29816b58aff08a1bc306389478652.setIcon(icon_5b9c3418f0cee79c47de30744ad7e3bd);
        
    
        var popup_e2d7ef3f6884cbdd1e8cf4a08d422914 = L.popup({"maxWidth": "100%"});

        
            
                var html_5e3e24a74b92a446094277ac2e40fff2 = $(`<div id="html_5e3e24a74b92a446094277ac2e40fff2" style="width: 100.0%; height: 100.0%;">{'정류장명': '863.이촌역2번 출구', '대여가능 수': '3', '반납율': '높음'}</div>`)[0];
                popup_e2d7ef3f6884cbdd1e8cf4a08d422914.setContent(html_5e3e24a74b92a446094277ac2e40fff2);
            
        

        marker_24b29816b58aff08a1bc306389478652.bindPopup(popup_e2d7ef3f6884cbdd1e8cf4a08d422914)
        ;

        
    
    
            marker_24b29816b58aff08a1bc306389478652.bindTooltip(
                `<div>
                     {'정류장명': '863.이촌역2번 출구', '대여가능 수': '3', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>