<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_759423a7f16ef04fe60c3f5f5845ccf8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_759423a7f16ef04fe60c3f5f5845ccf8" ></div>
        
</body>
<script>
    
    
            var map_759423a7f16ef04fe60c3f5f5845ccf8 = L.map(
                "map_759423a7f16ef04fe60c3f5f5845ccf8",
                {
                    center: [37.56702385747028, 127.01080406862651],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_35a30d5a56b641d168772d13bafea7d3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var marker_31ecf5921fcaa009777da607577821c6 = L.marker(
                [37.56918335, 127.00988007],
                {}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var icon_a70384466ca102c5fbf282e56b9b3e37 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_31ecf5921fcaa009777da607577821c6.setIcon(icon_a70384466ca102c5fbf282e56b9b3e37);
        
    
        var popup_aad0ffd082bdd5d588182d1ba7aa9f6f = L.popup({"maxWidth": "100%"});

        
            
                var html_4b9d45ff66d5c750e2133b7d142da63f = $(`<div id="html_4b9d45ff66d5c750e2133b7d142da63f" style="width: 100.0%; height: 100.0%;">{'정류장명': '346. 맥스타일 앞', '대여가능 수': '8', '반납율': '높음'}</div>`)[0];
                popup_aad0ffd082bdd5d588182d1ba7aa9f6f.setContent(html_4b9d45ff66d5c750e2133b7d142da63f);
            
        

        marker_31ecf5921fcaa009777da607577821c6.bindPopup(popup_aad0ffd082bdd5d588182d1ba7aa9f6f)
        ;

        
    
    
            marker_31ecf5921fcaa009777da607577821c6.bindTooltip(
                `<div>
                     {'정류장명': '346. 맥스타일 앞', '대여가능 수': '8', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ccbadb5ba1589ab01970ca1c7a6bb3e5 = L.marker(
                [37.56533051, 127.00784302],
                {}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var icon_7369a583b54f6e617c67fd9c00d96cee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ccbadb5ba1589ab01970ca1c7a6bb3e5.setIcon(icon_7369a583b54f6e617c67fd9c00d96cee);
        
    
        var popup_067dea85de070757caefdc947aefe6a9 = L.popup({"maxWidth": "100%"});

        
            
                var html_dd60d4e9bfc014bc33f06b4079fdad80 = $(`<div id="html_dd60d4e9bfc014bc33f06b4079fdad80" style="width: 100.0%; height: 100.0%;">{'정류장명': '347. 동대문역사문화공원역 9번출구 앞', '대여가능 수': '15', '반납율': '높음'}</div>`)[0];
                popup_067dea85de070757caefdc947aefe6a9.setContent(html_dd60d4e9bfc014bc33f06b4079fdad80);
            
        

        marker_ccbadb5ba1589ab01970ca1c7a6bb3e5.bindPopup(popup_067dea85de070757caefdc947aefe6a9)
        ;

        
    
    
            marker_ccbadb5ba1589ab01970ca1c7a6bb3e5.bindTooltip(
                `<div>
                     {'정류장명': '347. 동대문역사문화공원역 9번출구 앞', '대여가능 수': '15', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a39e79eb31a5efe21e1fc401dfc3a77 = L.marker(
                [37.5658493, 127.0164032],
                {}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var icon_5d1610b20d72b389ce57930dd8b9f7eb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3a39e79eb31a5efe21e1fc401dfc3a77.setIcon(icon_5d1610b20d72b389ce57930dd8b9f7eb);
        
    
        var popup_d58d48acc56e4c6fd724cb6165e510c2 = L.popup({"maxWidth": "100%"});

        
            
                var html_886947662366abb27b478814ea06ecde = $(`<div id="html_886947662366abb27b478814ea06ecde" style="width: 100.0%; height: 100.0%;">{'정류장명': '383. 신당역 12번 출구 뒤', '대여가능 수': '11', '반납율': '높음'}</div>`)[0];
                popup_d58d48acc56e4c6fd724cb6165e510c2.setContent(html_886947662366abb27b478814ea06ecde);
            
        

        marker_3a39e79eb31a5efe21e1fc401dfc3a77.bindPopup(popup_d58d48acc56e4c6fd724cb6165e510c2)
        ;

        
    
    
            marker_3a39e79eb31a5efe21e1fc401dfc3a77.bindTooltip(
                `<div>
                     {'정류장명': '383. 신당역 12번 출구 뒤', '대여가능 수': '11', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aeb7d4e1d1de7c0d8f7273a90e9588f8 = L.marker(
                [37.56629944, 127.00849152],
                {}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var icon_9e7d562577c6d5d25593d196c8dcb537 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_aeb7d4e1d1de7c0d8f7273a90e9588f8.setIcon(icon_9e7d562577c6d5d25593d196c8dcb537);
        
    
        var popup_501a5ceb89b3e69d684891a09c593e1e = L.popup({"maxWidth": "100%"});

        
            
                var html_9591cca6d0fc609e861578123b9d9fd7 = $(`<div id="html_9591cca6d0fc609e861578123b9d9fd7" style="width: 100.0%; height: 100.0%;">{'정류장명': '474.동대문역사문화공원역 1번출구 뒤편', '대여가능 수': '33', '반납율': '높음'}</div>`)[0];
                popup_501a5ceb89b3e69d684891a09c593e1e.setContent(html_9591cca6d0fc609e861578123b9d9fd7);
            
        

        marker_aeb7d4e1d1de7c0d8f7273a90e9588f8.bindPopup(popup_501a5ceb89b3e69d684891a09c593e1e)
        ;

        
    
    
            marker_aeb7d4e1d1de7c0d8f7273a90e9588f8.bindTooltip(
                `<div>
                     {'정류장명': '474.동대문역사문화공원역 1번출구 뒤편', '대여가능 수': '33', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d0afebce65e1abdc62daf88cdae9cd1e = L.marker(
                [37.56764984, 127.0118103],
                {}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var icon_a02ce4eed841654d23fd64d612012f8e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d0afebce65e1abdc62daf88cdae9cd1e.setIcon(icon_a02ce4eed841654d23fd64d612012f8e);
        
    
        var popup_afb3f57e7bbddf991a0227fe6e305890 = L.popup({"maxWidth": "100%"});

        
            
                var html_8c5e79e9a04e1f6fd7bc77852c5b339b = $(`<div id="html_8c5e79e9a04e1f6fd7bc77852c5b339b" style="width: 100.0%; height: 100.0%;">{'정류장명': '475.DDP 패션몰', '대여가능 수': '20', '반납율': '높음'}</div>`)[0];
                popup_afb3f57e7bbddf991a0227fe6e305890.setContent(html_8c5e79e9a04e1f6fd7bc77852c5b339b);
            
        

        marker_d0afebce65e1abdc62daf88cdae9cd1e.bindPopup(popup_afb3f57e7bbddf991a0227fe6e305890)
        ;

        
    
    
            marker_d0afebce65e1abdc62daf88cdae9cd1e.bindTooltip(
                `<div>
                     {'정류장명': '475.DDP 패션몰', '대여가능 수': '20', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4fe6c06e157ace230621e98030487660 = L.marker(
                [37.56703186, 127.01579285],
                {}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var icon_5cf7992b367aaf418bcec60be98b73f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4fe6c06e157ace230621e98030487660.setIcon(icon_5cf7992b367aaf418bcec60be98b73f7);
        
    
        var popup_aacb90c09f8fcae45757e202fe6eac26 = L.popup({"maxWidth": "100%"});

        
            
                var html_67792b6295f010db2cf18eb863a4ff39 = $(`<div id="html_67792b6295f010db2cf18eb863a4ff39" style="width: 100.0%; height: 100.0%;">{'정류장명': '481.신당역 10번 출구', '대여가능 수': '4', '반납율': '높음'}</div>`)[0];
                popup_aacb90c09f8fcae45757e202fe6eac26.setContent(html_67792b6295f010db2cf18eb863a4ff39);
            
        

        marker_4fe6c06e157ace230621e98030487660.bindPopup(popup_aacb90c09f8fcae45757e202fe6eac26)
        ;

        
    
    
            marker_4fe6c06e157ace230621e98030487660.bindTooltip(
                `<div>
                     {'정류장명': '481.신당역 10번 출구', '대여가능 수': '4', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cda3e4768baaa2b3ee19f6fd964b8374 = L.marker(
                [37.5683136, 127.00946045],
                {}
            ).addTo(map_759423a7f16ef04fe60c3f5f5845ccf8);
        
    
            var icon_b370bfa4c6fa81f0163bfc5752e8c73b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cda3e4768baaa2b3ee19f6fd964b8374.setIcon(icon_b370bfa4c6fa81f0163bfc5752e8c73b);
        
    
        var popup_73d2d3c2b8552574b8e5b9b3d2902a93 = L.popup({"maxWidth": "100%"});

        
            
                var html_92cd9a3eb0d1131e038379e85fe078ac = $(`<div id="html_92cd9a3eb0d1131e038379e85fe078ac" style="width: 100.0%; height: 100.0%;">{'정류장명': '4765. 동대문디자인플라자', '대여가능 수': '9', '반납율': '높음'}</div>`)[0];
                popup_73d2d3c2b8552574b8e5b9b3d2902a93.setContent(html_92cd9a3eb0d1131e038379e85fe078ac);
            
        

        marker_cda3e4768baaa2b3ee19f6fd964b8374.bindPopup(popup_73d2d3c2b8552574b8e5b9b3d2902a93)
        ;

        
    
    
            marker_cda3e4768baaa2b3ee19f6fd964b8374.bindTooltip(
                `<div>
                     {'정류장명': '4765. 동대문디자인플라자', '대여가능 수': '9', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>