<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3a5ce9ef3c8e26bf4554146cd50913c1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3a5ce9ef3c8e26bf4554146cd50913c1" ></div>
        
</body>
<script>
    
    
            var map_3a5ce9ef3c8e26bf4554146cd50913c1 = L.map(
                "map_3a5ce9ef3c8e26bf4554146cd50913c1",
                {
                    center: [37.62209914410204, 127.0415999941422],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7ce5336d1ecc5d40769e61b464b2b773 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3a5ce9ef3c8e26bf4554146cd50913c1);
        
    
            var marker_5a8730735f899bbf2e49ffcefb9c4da0 = L.marker(
                [37.62268829, 127.03781128],
                {}
            ).addTo(map_3a5ce9ef3c8e26bf4554146cd50913c1);
        
    
            var icon_b8a5f01385d9c931fe7f9b7c65a5ac62 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_5a8730735f899bbf2e49ffcefb9c4da0.setIcon(icon_b8a5f01385d9c931fe7f9b7c65a5ac62);
        
    
        var popup_cb85fef6a9907003f377976c35834735 = L.popup({"maxWidth": "100%"});

        
            
                var html_8a94ab78905736dba99333bc347db0e3 = $(`<div id="html_8a94ab78905736dba99333bc347db0e3" style="width: 100.0%; height: 100.0%;">{'정류장명': '1548. 북서울 꿈의숲 서문', '대여가능 수': '0', '반납율': '낮음'}</div>`)[0];
                popup_cb85fef6a9907003f377976c35834735.setContent(html_8a94ab78905736dba99333bc347db0e3);
            
        

        marker_5a8730735f899bbf2e49ffcefb9c4da0.bindPopup(popup_cb85fef6a9907003f377976c35834735)
        ;

        
    
    
            marker_5a8730735f899bbf2e49ffcefb9c4da0.bindTooltip(
                `<div>
                     {'정류장명': '1548. 북서울 꿈의숲 서문', '대여가능 수': '0', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2f21f4da38d33a4f8d39983036d10866 = L.marker(
                [37.628685, 127.04390717],
                {}
            ).addTo(map_3a5ce9ef3c8e26bf4554146cd50913c1);
        
    
            var icon_6882ba4275e5200fbee296610d1c9d72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2f21f4da38d33a4f8d39983036d10866.setIcon(icon_6882ba4275e5200fbee296610d1c9d72);
        
    
        var popup_30a7bd44b80c5bdfe3ef6659d5e17af8 = L.popup({"maxWidth": "100%"});

        
            
                var html_fe54b8edfeca7bec022a36bab6b5a989 = $(`<div id="html_fe54b8edfeca7bec022a36bab6b5a989" style="width: 100.0%; height: 100.0%;">{'정류장명': '3718. 번동3단지 버스정류장', '대여가능 수': '24', '반납율': '높음'}</div>`)[0];
                popup_30a7bd44b80c5bdfe3ef6659d5e17af8.setContent(html_fe54b8edfeca7bec022a36bab6b5a989);
            
        

        marker_2f21f4da38d33a4f8d39983036d10866.bindPopup(popup_30a7bd44b80c5bdfe3ef6659d5e17af8)
        ;

        
    
    
            marker_2f21f4da38d33a4f8d39983036d10866.bindTooltip(
                `<div>
                     {'정류장명': '3718. 번동3단지 버스정류장', '대여가능 수': '24', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>