<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bd3c93be53bdc5129140500079983f69 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_bd3c93be53bdc5129140500079983f69" ></div>
        
</body>
<script>
    
    
            var map_bd3c93be53bdc5129140500079983f69 = L.map(
                "map_bd3c93be53bdc5129140500079983f69",
                {
                    center: [37.54451744937703, 127.0564596000463],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_89b823082fa6bf7622760c58a52e1c8b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bd3c93be53bdc5129140500079983f69);
        
    
            var marker_fe4009073068379b861e04a267094f96 = L.marker(
                [37.54459, 127.05708313],
                {}
            ).addTo(map_bd3c93be53bdc5129140500079983f69);
        
    
            var icon_1603222765e63d5fe0b0caea729b75ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_fe4009073068379b861e04a267094f96.setIcon(icon_1603222765e63d5fe0b0caea729b75ad);
        
    
        var popup_01bbaead0dd4f543ac6eef7816839759 = L.popup({"maxWidth": "100%"});

        
            
                var html_378fed6a3eadadf87efc07f99e111eaf = $(`<div id="html_378fed6a3eadadf87efc07f99e111eaf" style="width: 100.0%; height: 100.0%;">{'정류장명': '567. 성수역 2번출구 앞', '대여가능 수': '2', '반납율': '보통'}</div>`)[0];
                popup_01bbaead0dd4f543ac6eef7816839759.setContent(html_378fed6a3eadadf87efc07f99e111eaf);
            
        

        marker_fe4009073068379b861e04a267094f96.bindPopup(popup_01bbaead0dd4f543ac6eef7816839759)
        ;

        
    
    
            marker_fe4009073068379b861e04a267094f96.bindTooltip(
                `<div>
                     {'정류장명': '567. 성수역 2번출구 앞', '대여가능 수': '2', '반납율': '보통'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_70b9764f3cffdba5a0f30efdd94ff6f3 = L.marker(
                [37.54541779, 127.05264282],
                {}
            ).addTo(map_bd3c93be53bdc5129140500079983f69);
        
    
            var icon_5cd0f2df26bdacfb031df7557a3c35e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_70b9764f3cffdba5a0f30efdd94ff6f3.setIcon(icon_5cd0f2df26bdacfb031df7557a3c35e5);
        
    
        var popup_baeab36a2086a6d3d4c858d374eff01b = L.popup({"maxWidth": "100%"});

        
            
                var html_33959120704f38d5c29624ccdec566ad = $(`<div id="html_33959120704f38d5c29624ccdec566ad" style="width: 100.0%; height: 100.0%;">{'정류장명': '587. 유니베라 앞', '대여가능 수': '17', '반납율': '높음'}</div>`)[0];
                popup_baeab36a2086a6d3d4c858d374eff01b.setContent(html_33959120704f38d5c29624ccdec566ad);
            
        

        marker_70b9764f3cffdba5a0f30efdd94ff6f3.bindPopup(popup_baeab36a2086a6d3d4c858d374eff01b)
        ;

        
    
    
            marker_70b9764f3cffdba5a0f30efdd94ff6f3.bindTooltip(
                `<div>
                     {'정류장명': '587. 유니베라 앞', '대여가능 수': '17', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_133b4d67a8b2cc184b88824e6862430c = L.marker(
                [37.54415894, 127.05665588],
                {}
            ).addTo(map_bd3c93be53bdc5129140500079983f69);
        
    
            var icon_359f8c0fc5061f44009a182487696d23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_133b4d67a8b2cc184b88824e6862430c.setIcon(icon_359f8c0fc5061f44009a182487696d23);
        
    
        var popup_e668a4882fe5f9a654693ab9e2538c70 = L.popup({"maxWidth": "100%"});

        
            
                var html_24501cdf58731f98d1c1f8ad6e7ac523 = $(`<div id="html_24501cdf58731f98d1c1f8ad6e7ac523" style="width: 100.0%; height: 100.0%;">{'정류장명': '589. 성수역3번출구', '대여가능 수': '31', '반납율': '높음'}</div>`)[0];
                popup_e668a4882fe5f9a654693ab9e2538c70.setContent(html_24501cdf58731f98d1c1f8ad6e7ac523);
            
        

        marker_133b4d67a8b2cc184b88824e6862430c.bindPopup(popup_e668a4882fe5f9a654693ab9e2538c70)
        ;

        
    
    
            marker_133b4d67a8b2cc184b88824e6862430c.bindTooltip(
                `<div>
                     {'정류장명': '589. 성수역3번출구', '대여가능 수': '31', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_717a7429ed4bda02428050346fd4722c = L.marker(
                [37.54555893, 127.05336761],
                {}
            ).addTo(map_bd3c93be53bdc5129140500079983f69);
        
    
            var icon_063db36415a14ed6ab76b4d0cb71d18f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_717a7429ed4bda02428050346fd4722c.setIcon(icon_063db36415a14ed6ab76b4d0cb71d18f);
        
    
        var popup_07dd29cd7ca474448890c6a7e7a85637 = L.popup({"maxWidth": "100%"});

        
            
                var html_ccfee832892445d70a16c79275a39a5a = $(`<div id="html_ccfee832892445d70a16c79275a39a5a" style="width: 100.0%; height: 100.0%;">{'정류장명': '4387. 성수역 1번출구 주변', '대여가능 수': '2', '반납율': '높음'}</div>`)[0];
                popup_07dd29cd7ca474448890c6a7e7a85637.setContent(html_ccfee832892445d70a16c79275a39a5a);
            
        

        marker_717a7429ed4bda02428050346fd4722c.bindPopup(popup_07dd29cd7ca474448890c6a7e7a85637)
        ;

        
    
    
            marker_717a7429ed4bda02428050346fd4722c.bindTooltip(
                `<div>
                     {'정류장명': '4387. 성수역 1번출구 주변', '대여가능 수': '2', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>