<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9f36c2300c497eb9f26c8cf8234be943 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9f36c2300c497eb9f26c8cf8234be943" ></div>
        
</body>
<script>
    
    
            var map_9f36c2300c497eb9f26c8cf8234be943 = L.map(
                "map_9f36c2300c497eb9f26c8cf8234be943",
                {
                    center: [37.55674194936796, 126.93941159706851],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e3560b8f14ddb88db4d58d921f28c5fc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var marker_59004f787f1d044d174a893a320468cc = L.marker(
                [37.55549622, 126.93634033],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_b85506e51408c8d7a4cb7623aa365f72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_59004f787f1d044d174a893a320468cc.setIcon(icon_b85506e51408c8d7a4cb7623aa365f72);
        
    
        var popup_9955bf7aa05af5df0cf8c5ab392bf742 = L.popup({"maxWidth": "100%"});

        
            
                var html_f493cd76de02cbd27c7f0b4439d137e3 = $(`<div id="html_f493cd76de02cbd27c7f0b4439d137e3" style="width: 100.0%; height: 100.0%;">{'정류장명': '128. 신촌역(2호선) 1번출구 옆', '대여가능 수': '1', '반납율': '낮음'}</div>`)[0];
                popup_9955bf7aa05af5df0cf8c5ab392bf742.setContent(html_f493cd76de02cbd27c7f0b4439d137e3);
            
        

        marker_59004f787f1d044d174a893a320468cc.bindPopup(popup_9955bf7aa05af5df0cf8c5ab392bf742)
        ;

        
    
    
            marker_59004f787f1d044d174a893a320468cc.bindTooltip(
                `<div>
                     {'정류장명': '128. 신촌역(2호선) 1번출구 옆', '대여가능 수': '1', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_916322325802eac92cadd2a77bfe56ca = L.marker(
                [37.55505371, 126.93756866],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_14fe865b23f0b8aa37a1eed2095c9fcd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_916322325802eac92cadd2a77bfe56ca.setIcon(icon_14fe865b23f0b8aa37a1eed2095c9fcd);
        
    
        var popup_9cf473a92a7583500c7b4bba14e9b70f = L.popup({"maxWidth": "100%"});

        
            
                var html_987b6f3cbdeccd181765af209efef901 = $(`<div id="html_987b6f3cbdeccd181765af209efef901" style="width: 100.0%; height: 100.0%;">{'정류장명': '129. 신촌역(2호선) 6번출구 옆', '대여가능 수': '1', '반납율': '보통'}</div>`)[0];
                popup_9cf473a92a7583500c7b4bba14e9b70f.setContent(html_987b6f3cbdeccd181765af209efef901);
            
        

        marker_916322325802eac92cadd2a77bfe56ca.bindPopup(popup_9cf473a92a7583500c7b4bba14e9b70f)
        ;

        
    
    
            marker_916322325802eac92cadd2a77bfe56ca.bindTooltip(
                `<div>
                     {'정류장명': '129. 신촌역(2호선) 6번출구 옆', '대여가능 수': '1', '반납율': '보통'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_af1c4395d39b0b183e0eee8ee9a10b8a = L.marker(
                [37.55485916, 126.93615723],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_55540144f15abf928d5bd3022b20c978 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_af1c4395d39b0b183e0eee8ee9a10b8a.setIcon(icon_55540144f15abf928d5bd3022b20c978);
        
    
        var popup_1303534737aa5d6ea2437ba274d5b09d = L.popup({"maxWidth": "100%"});

        
            
                var html_db1b98ed868527f7a1db6eb16da298a5 = $(`<div id="html_db1b98ed868527f7a1db6eb16da298a5" style="width: 100.0%; height: 100.0%;">{'정류장명': '130. 신촌역(2호선) 7번출구 앞', '대여가능 수': '4', '반납율': '높음'}</div>`)[0];
                popup_1303534737aa5d6ea2437ba274d5b09d.setContent(html_db1b98ed868527f7a1db6eb16da298a5);
            
        

        marker_af1c4395d39b0b183e0eee8ee9a10b8a.bindPopup(popup_1303534737aa5d6ea2437ba274d5b09d)
        ;

        
    
    
            marker_af1c4395d39b0b183e0eee8ee9a10b8a.bindTooltip(
                `<div>
                     {'정류장명': '130. 신촌역(2호선) 7번출구 앞', '대여가능 수': '4', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_28bfcee919927e1f69cb5406f24f7776 = L.marker(
                [37.55789185, 126.93807983],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_3abf64bfb06a8b467900036d94e90d3c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_28bfcee919927e1f69cb5406f24f7776.setIcon(icon_3abf64bfb06a8b467900036d94e90d3c);
        
    
        var popup_adfb8e71b465828c7a3bfd6d866854b5 = L.popup({"maxWidth": "100%"});

        
            
                var html_ca447cf660a57e3c3f1c62dacce515c5 = $(`<div id="html_ca447cf660a57e3c3f1c62dacce515c5" style="width: 100.0%; height: 100.0%;">{'정류장명': '134. 연세로 명물길', '대여가능 수': '3', '반납율': '높음'}</div>`)[0];
                popup_adfb8e71b465828c7a3bfd6d866854b5.setContent(html_ca447cf660a57e3c3f1c62dacce515c5);
            
        

        marker_28bfcee919927e1f69cb5406f24f7776.bindPopup(popup_adfb8e71b465828c7a3bfd6d866854b5)
        ;

        
    
    
            marker_28bfcee919927e1f69cb5406f24f7776.bindTooltip(
                `<div>
                     {'정류장명': '134. 연세로 명물길', '대여가능 수': '3', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0cddc2736db8b5fdad754bdc0bbf8cea = L.marker(
                [37.55922699, 126.93984222],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_64ad467b158846508f3af2ae4f3e8e4d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_0cddc2736db8b5fdad754bdc0bbf8cea.setIcon(icon_64ad467b158846508f3af2ae4f3e8e4d);
        
    
        var popup_706e9ae895d1fd57ac835e9066d59fe5 = L.popup({"maxWidth": "100%"});

        
            
                var html_9f3425e0e7b3916cf2eef755b0bd483b = $(`<div id="html_9f3425e0e7b3916cf2eef755b0bd483b" style="width: 100.0%; height: 100.0%;">{'정류장명': '135. 명물길 원형무대 앞', '대여가능 수': '1', '반납율': '보통'}</div>`)[0];
                popup_706e9ae895d1fd57ac835e9066d59fe5.setContent(html_9f3425e0e7b3916cf2eef755b0bd483b);
            
        

        marker_0cddc2736db8b5fdad754bdc0bbf8cea.bindPopup(popup_706e9ae895d1fd57ac835e9066d59fe5)
        ;

        
    
    
            marker_0cddc2736db8b5fdad754bdc0bbf8cea.bindTooltip(
                `<div>
                     {'정류장명': '135. 명물길 원형무대 앞', '대여가능 수': '1', '반납율': '보통'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f165261c753d551bb7286c31cc58f133 = L.marker(
                [37.55681229, 126.9431839],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_acfdf45378deb7bbfa223edaaf5bca65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_f165261c753d551bb7286c31cc58f133.setIcon(icon_acfdf45378deb7bbfa223edaaf5bca65);
        
    
        var popup_3a09bb1c36b3fd76fc656574157b21da = L.popup({"maxWidth": "100%"});

        
            
                var html_5ec38f0b494ec187e26df378194fa6ef = $(`<div id="html_5ec38f0b494ec187e26df378194fa6ef" style="width: 100.0%; height: 100.0%;">{'정류장명': '137. 신촌기차역입구 교차로', '대여가능 수': '0', '반납율': '낮음'}</div>`)[0];
                popup_3a09bb1c36b3fd76fc656574157b21da.setContent(html_5ec38f0b494ec187e26df378194fa6ef);
            
        

        marker_f165261c753d551bb7286c31cc58f133.bindPopup(popup_3a09bb1c36b3fd76fc656574157b21da)
        ;

        
    
    
            marker_f165261c753d551bb7286c31cc58f133.bindTooltip(
                `<div>
                     {'정류장명': '137. 신촌기차역입구 교차로', '대여가능 수': '0', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dcf3dc0bfebe38626259acbcbdcd35b6 = L.marker(
                [37.55295563, 126.93434143],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_46f978c68ba98b67af0ee6af8f60d5e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_dcf3dc0bfebe38626259acbcbdcd35b6.setIcon(icon_46f978c68ba98b67af0ee6af8f60d5e6);
        
    
        var popup_a92eae7a4f0554e94b3ecc3f7970ba7a = L.popup({"maxWidth": "100%"});

        
            
                var html_23eb093997c0cc89846b660856743a0a = $(`<div id="html_23eb093997c0cc89846b660856743a0a" style="width: 100.0%; height: 100.0%;">{'정류장명': '150. 서강대역 2번출구 앞', '대여가능 수': '0', '반납율': '낮음'}</div>`)[0];
                popup_a92eae7a4f0554e94b3ecc3f7970ba7a.setContent(html_23eb093997c0cc89846b660856743a0a);
            
        

        marker_dcf3dc0bfebe38626259acbcbdcd35b6.bindPopup(popup_a92eae7a4f0554e94b3ecc3f7970ba7a)
        ;

        
    
    
            marker_dcf3dc0bfebe38626259acbcbdcd35b6.bindTooltip(
                `<div>
                     {'정류장명': '150. 서강대역 2번출구 앞', '대여가능 수': '0', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f7b49aec4ae623acd46d1b380d1ad3df = L.marker(
                [37.55550385, 126.93720245],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_e5d01431bac0e451b34c972533f8a8ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_f7b49aec4ae623acd46d1b380d1ad3df.setIcon(icon_e5d01431bac0e451b34c972533f8a8ab);
        
    
        var popup_de4c8015c02a58ec7ec2bc383520c218 = L.popup({"maxWidth": "100%"});

        
            
                var html_261e9dae6275eebe72454c143a7f6546 = $(`<div id="html_261e9dae6275eebe72454c143a7f6546" style="width: 100.0%; height: 100.0%;">{'정류장명': '3116.신촌역 4번출구', '대여가능 수': '0', '반납율': '낮음'}</div>`)[0];
                popup_de4c8015c02a58ec7ec2bc383520c218.setContent(html_261e9dae6275eebe72454c143a7f6546);
            
        

        marker_f7b49aec4ae623acd46d1b380d1ad3df.bindPopup(popup_de4c8015c02a58ec7ec2bc383520c218)
        ;

        
    
    
            marker_f7b49aec4ae623acd46d1b380d1ad3df.bindTooltip(
                `<div>
                     {'정류장명': '3116.신촌역 4번출구', '대여가능 수': '0', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5b0bcb878e2ef781ff799a0f3a831dec = L.marker(
                [37.5560112, 126.94034576],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_5643cc2c2876ed120d5df8fa4d6741e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_5b0bcb878e2ef781ff799a0f3a831dec.setIcon(icon_5643cc2c2876ed120d5df8fa4d6741e6);
        
    
        var popup_7861c3c3cbf14987cb5c39cf588db7d4 = L.popup({"maxWidth": "100%"});

        
            
                var html_9ef026c30a6bfdc97f153a6247273fd0 = $(`<div id="html_9ef026c30a6bfdc97f153a6247273fd0" style="width: 100.0%; height: 100.0%;">{'정류장명': '4248. 신촌 교보빌딩', '대여가능 수': '0', '반납율': '낮음'}</div>`)[0];
                popup_7861c3c3cbf14987cb5c39cf588db7d4.setContent(html_9ef026c30a6bfdc97f153a6247273fd0);
            
        

        marker_5b0bcb878e2ef781ff799a0f3a831dec.bindPopup(popup_7861c3c3cbf14987cb5c39cf588db7d4)
        ;

        
    
    
            marker_5b0bcb878e2ef781ff799a0f3a831dec.bindTooltip(
                `<div>
                     {'정류장명': '4248. 신촌 교보빌딩', '대여가능 수': '0', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0ef89e1c78e5f2882240ad46cd7fec03 = L.marker(
                [37.55687714, 126.93603516],
                {}
            ).addTo(map_9f36c2300c497eb9f26c8cf8234be943);
        
    
            var icon_c0b35486e4a8c3fb04c1497c7bb1ce0d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_0ef89e1c78e5f2882240ad46cd7fec03.setIcon(icon_c0b35486e4a8c3fb04c1497c7bb1ce0d);
        
    
        var popup_a6d6b23e6baa01685db520062b9e5c2c = L.popup({"maxWidth": "100%"});

        
            
                var html_ec4df295f76a860d4d0b34a5b2cd91bc = $(`<div id="html_ec4df295f76a860d4d0b34a5b2cd91bc" style="width: 100.0%; height: 100.0%;">{'정류장명': '4274. 신촌 파랑고래 입구', '대여가능 수': '0', '반납율': '낮음'}</div>`)[0];
                popup_a6d6b23e6baa01685db520062b9e5c2c.setContent(html_ec4df295f76a860d4d0b34a5b2cd91bc);
            
        

        marker_0ef89e1c78e5f2882240ad46cd7fec03.bindPopup(popup_a6d6b23e6baa01685db520062b9e5c2c)
        ;

        
    
    
            marker_0ef89e1c78e5f2882240ad46cd7fec03.bindTooltip(
                `<div>
                     {'정류장명': '4274. 신촌 파랑고래 입구', '대여가능 수': '0', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>