<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2d503882903e2f5c6cb2d382c03ee941 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_2d503882903e2f5c6cb2d382c03ee941" ></div>
        
</body>
<script>
    
    
            var map_2d503882903e2f5c6cb2d382c03ee941 = L.map(
                "map_2d503882903e2f5c6cb2d382c03ee941",
                {
                    center: [37.56095889865071, 127.03842518476365],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b37de2f69067d914a70d2bbd1a79cd55 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2d503882903e2f5c6cb2d382c03ee941);
        
    
            var marker_be9b529550dc1a8941b4b88574b5814d = L.marker(
                [37.55805206, 127.04035187],
                {}
            ).addTo(map_2d503882903e2f5c6cb2d382c03ee941);
        
    
            var icon_03d957a08d8ce85dd28b21f3c5a067d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_be9b529550dc1a8941b4b88574b5814d.setIcon(icon_03d957a08d8ce85dd28b21f3c5a067d6);
        
    
        var popup_3c68f5d6163c541eec36d480c0a60dca = L.popup({"maxWidth": "100%"});

        
            
                var html_7c4a1eedca2fb4b8c9a1555d99ea173d = $(`<div id="html_7c4a1eedca2fb4b8c9a1555d99ea173d" style="width: 100.0%; height: 100.0%;">{'정류장명': '525. 한양대병원사거리', '대여가능 수': '2', '반납율': '낮음'}</div>`)[0];
                popup_3c68f5d6163c541eec36d480c0a60dca.setContent(html_7c4a1eedca2fb4b8c9a1555d99ea173d);
            
        

        marker_be9b529550dc1a8941b4b88574b5814d.bindPopup(popup_3c68f5d6163c541eec36d480c0a60dca)
        ;

        
    
    
            marker_be9b529550dc1a8941b4b88574b5814d.bindTooltip(
                `<div>
                     {'정류장명': '525. 한양대병원사거리', '대여가능 수': '2', '반납율': '낮음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b03a6b2077c17faacc4053ec6542bf07 = L.marker(
                [37.56460571, 127.03652191],
                {}
            ).addTo(map_2d503882903e2f5c6cb2d382c03ee941);
        
    
            var icon_a4b9d82e4d9581a780107a7a9d9473ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b03a6b2077c17faacc4053ec6542bf07.setIcon(icon_a4b9d82e4d9581a780107a7a9d9473ec);
        
    
        var popup_ae2efbf4553f4c1e0c73cb9790789ade = L.popup({"maxWidth": "100%"});

        
            
                var html_9f8530a0a8137601ccca0b6dddfdf63c = $(`<div id="html_9f8530a0a8137601ccca0b6dddfdf63c" style="width: 100.0%; height: 100.0%;">{'정류장명': '558. 성동광진 교육지원청 앞', '대여가능 수': '7', '반납율': '높음'}</div>`)[0];
                popup_ae2efbf4553f4c1e0c73cb9790789ade.setContent(html_9f8530a0a8137601ccca0b6dddfdf63c);
            
        

        marker_b03a6b2077c17faacc4053ec6542bf07.bindPopup(popup_ae2efbf4553f4c1e0c73cb9790789ade)
        ;

        
    
    
            marker_b03a6b2077c17faacc4053ec6542bf07.bindTooltip(
                `<div>
                     {'정류장명': '558. 성동광진 교육지원청 앞', '대여가능 수': '7', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5e9182352b7f04331ed2006f133a826 = L.marker(
                [37.56109619, 127.03679657],
                {}
            ).addTo(map_2d503882903e2f5c6cb2d382c03ee941);
        
    
            var icon_39735f1a43dcf8676c372908c99c9dcc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a5e9182352b7f04331ed2006f133a826.setIcon(icon_39735f1a43dcf8676c372908c99c9dcc);
        
    
        var popup_8263ff08dde6a8651ae8460546547221 = L.popup({"maxWidth": "100%"});

        
            
                var html_83f01793c28390e99f259c82f7ce947c = $(`<div id="html_83f01793c28390e99f259c82f7ce947c" style="width: 100.0%; height: 100.0%;">{'정류장명': '559. 왕십리역 4번 출구 건너편', '대여가능 수': '20', '반납율': '높음'}</div>`)[0];
                popup_8263ff08dde6a8651ae8460546547221.setContent(html_83f01793c28390e99f259c82f7ce947c);
            
        

        marker_a5e9182352b7f04331ed2006f133a826.bindPopup(popup_8263ff08dde6a8651ae8460546547221)
        ;

        
    
    
            marker_a5e9182352b7f04331ed2006f133a826.bindTooltip(
                `<div>
                     {'정류장명': '559. 왕십리역 4번 출구 건너편', '대여가능 수': '20', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7dc2d0a858490b1f0fd5fdbf6e71e086 = L.marker(
                [37.55657959, 127.04335785],
                {}
            ).addTo(map_2d503882903e2f5c6cb2d382c03ee941);
        
    
            var icon_e036cd3c31420136e96c50c3ed491e00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_7dc2d0a858490b1f0fd5fdbf6e71e086.setIcon(icon_e036cd3c31420136e96c50c3ed491e00);
        
    
        var popup_678eceb9406533adf62dce484be0f3dd = L.popup({"maxWidth": "100%"});

        
            
                var html_5f7e619f7d66ca18c58199f4672758d2 = $(`<div id="html_5f7e619f7d66ca18c58199f4672758d2" style="width: 100.0%; height: 100.0%;">{'정류장명': '3545.한양대역 1번출구', '대여가능 수': '2', '반납율': '높음'}</div>`)[0];
                popup_678eceb9406533adf62dce484be0f3dd.setContent(html_5f7e619f7d66ca18c58199f4672758d2);
            
        

        marker_7dc2d0a858490b1f0fd5fdbf6e71e086.bindPopup(popup_678eceb9406533adf62dce484be0f3dd)
        ;

        
    
    
            marker_7dc2d0a858490b1f0fd5fdbf6e71e086.bindTooltip(
                `<div>
                     {'정류장명': '3545.한양대역 1번출구', '대여가능 수': '2', '반납율': '높음'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3b3482fcb982a0eb87ef98a57e95bd08 = L.marker(
                [37.55926895, 127.03839874],
                {}
            ).addTo(map_2d503882903e2f5c6cb2d382c03ee941);
        
    
            var icon_d0c186a47efefa72f764d813015ff4de = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_3b3482fcb982a0eb87ef98a57e95bd08.setIcon(icon_d0c186a47efefa72f764d813015ff4de);
        
    
        var popup_dd5cdc0e73f4bd359bdf4fc17b041a48 = L.popup({"maxWidth": "100%"});

        
            
                var html_d6de33d7b4ca4af0a5bcb60d03f63fce = $(`<div id="html_d6de33d7b4ca4af0a5bcb60d03f63fce" style="width: 100.0%; height: 100.0%;">{'정류장명': '3561.행당동 삼부APT후문', '대여가능 수': '1', '반납율': '보통'}</div>`)[0];
                popup_dd5cdc0e73f4bd359bdf4fc17b041a48.setContent(html_d6de33d7b4ca4af0a5bcb60d03f63fce);
            
        

        marker_3b3482fcb982a0eb87ef98a57e95bd08.bindPopup(popup_dd5cdc0e73f4bd359bdf4fc17b041a48)
        ;

        
    
    
            marker_3b3482fcb982a0eb87ef98a57e95bd08.bindTooltip(
                `<div>
                     {'정류장명': '3561.행당동 삼부APT후문', '대여가능 수': '1', '반납율': '보통'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>