<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_94f68152350448b3352efddcffbe390f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_94f68152350448b3352efddcffbe390f" ></div>
        
</body>
<script>
    
    
            var map_94f68152350448b3352efddcffbe390f = L.map(
                "map_94f68152350448b3352efddcffbe390f",
                {
                    center: [37.64051971456238, 127.02623514391327],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ee7cafbd7d5322313ba8bac6620935c4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_94f68152350448b3352efddcffbe390f);
        
    
            var marker_a8fd995807d40c5d37183cc2baea6600 = L.marker(
                [37.63869334, 127.02512929],
                {}
            ).addTo(map_94f68152350448b3352efddcffbe390f);
        
    
            var icon_aa3ae07d67005646962066c1ec18bce3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_a8fd995807d40c5d37183cc2baea6600.setIcon(icon_aa3ae07d67005646962066c1ec18bce3);
        
    
        var popup_670d5c14766178d84ed4bc99a0e1ac39 = L.popup({"maxWidth": "100%"});

        
            
                var html_165d86dad3e04d00a3e1d0e8f4587f20 = $(`<div id="html_165d86dad3e04d00a3e1d0e8f4587f20" style="width: 100.0%; height: 100.0%;">{'주차장명': '구청앞(구)', '주소': '강북구 수유동 191-1', '주차가능 수': '', '가격': '1000원 이하 (10분)'}</div>`)[0];
                popup_670d5c14766178d84ed4bc99a0e1ac39.setContent(html_165d86dad3e04d00a3e1d0e8f4587f20);
            
        

        marker_a8fd995807d40c5d37183cc2baea6600.bindPopup(popup_670d5c14766178d84ed4bc99a0e1ac39)
        ;

        
    
    
            marker_a8fd995807d40c5d37183cc2baea6600.bindTooltip(
                `<div>
                     {'주차장명': '구청앞(구)', '주소': '강북구 수유동 191-1', '주차가능 수': '', '가격': '1000원 이하 (10분)'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_338dbe6c797d8666a6c4906db796f06b = L.marker(
                [37.64005648, 127.02595849],
                {}
            ).addTo(map_94f68152350448b3352efddcffbe390f);
        
    
            var icon_4a1a9d9353a0c704cdffb29e9b616186 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_338dbe6c797d8666a6c4906db796f06b.setIcon(icon_4a1a9d9353a0c704cdffb29e9b616186);
        
    
        var popup_96d8adcaabaaba73655741693e46b0ef = L.popup({"maxWidth": "100%"});

        
            
                var html_1254e948e8b1e4c57283ba7e28b440b6 = $(`<div id="html_1254e948e8b1e4c57283ba7e28b440b6" style="width: 100.0%; height: 100.0%;">{'주차장명': '시범 공영주차장(구)', '주소': '강북구 수유동 190-11', '주차가능 수': '2', '가격': '1000원 이하 (10분)'}</div>`)[0];
                popup_96d8adcaabaaba73655741693e46b0ef.setContent(html_1254e948e8b1e4c57283ba7e28b440b6);
            
        

        marker_338dbe6c797d8666a6c4906db796f06b.bindPopup(popup_96d8adcaabaaba73655741693e46b0ef)
        ;

        
    
    
            marker_338dbe6c797d8666a6c4906db796f06b.bindTooltip(
                `<div>
                     {'주차장명': '시범 공영주차장(구)', '주소': '강북구 수유동 190-11', '주차가능 수': '2', '가격': '1000원 이하 (10분)'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>