<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3d8b077ccdf5beaba365085196c61d3e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3d8b077ccdf5beaba365085196c61d3e" ></div>
        
</body>
<script>
    
    
            var map_3d8b077ccdf5beaba365085196c61d3e = L.map(
                "map_3d8b077ccdf5beaba365085196c61d3e",
                {
                    center: [37.65696415135618, 127.05937215373292],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5780252f0cb3a699c1c310a38560eced = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var marker_5472914137535e21c08d44de681cd4d5 = L.marker(
                [37.65622974, 127.06053389],
                {}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var icon_7ae57bd5c651b68c07514bfcf886b70c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_5472914137535e21c08d44de681cd4d5.setIcon(icon_7ae57bd5c651b68c07514bfcf886b70c);
        
    
        var popup_8ad04e322b5d7dbb445174065559b118 = L.popup({"maxWidth": "100%"});

        
            
                var html_0f002bbec375449992af9b769bb9d0dc = $(`<div id="html_0f002bbec375449992af9b769bb9d0dc" style="width: 100.0%; height: 100.0%;">{'주차장명': '주공7단지옆(구)', '주소': '노원구 상계동 693-5', '주차가능 수': '', '가격': ''}</div>`)[0];
                popup_8ad04e322b5d7dbb445174065559b118.setContent(html_0f002bbec375449992af9b769bb9d0dc);
            
        

        marker_5472914137535e21c08d44de681cd4d5.bindPopup(popup_8ad04e322b5d7dbb445174065559b118)
        ;

        
    
    
            marker_5472914137535e21c08d44de681cd4d5.bindTooltip(
                `<div>
                     {'주차장명': '주공7단지옆(구)', '주소': '노원구 상계동 693-5', '주차가능 수': '', '가격': ''}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b1caf8f3a76761d359e3206ec8715142 = L.marker(
                [37.65388353, 127.06257692],
                {}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var icon_77c02782c2185f4aa0eaf201057494f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_b1caf8f3a76761d359e3206ec8715142.setIcon(icon_77c02782c2185f4aa0eaf201057494f8);
        
    
        var popup_96c294e1a078ec4c7265ef6c2743008d = L.popup({"maxWidth": "100%"});

        
            
                var html_7836bed716bfff13d99197955e66699d = $(`<div id="html_7836bed716bfff13d99197955e66699d" style="width: 100.0%; height: 100.0%;">{'주차장명': '주공6단지상가주변(구)', '주소': '노원구 상계동 723-2', '주차가능 수': '', '가격': ''}</div>`)[0];
                popup_96c294e1a078ec4c7265ef6c2743008d.setContent(html_7836bed716bfff13d99197955e66699d);
            
        

        marker_b1caf8f3a76761d359e3206ec8715142.bindPopup(popup_96c294e1a078ec4c7265ef6c2743008d)
        ;

        
    
    
            marker_b1caf8f3a76761d359e3206ec8715142.bindTooltip(
                `<div>
                     {'주차장명': '주공6단지상가주변(구)', '주소': '노원구 상계동 723-2', '주차가능 수': '', '가격': ''}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bcb12b215d4209213cf3c46521aa4c0a = L.marker(
                [37.65303056, 127.04970751],
                {}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var icon_dcfcb686b2da2deae556b825e148e9ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_bcb12b215d4209213cf3c46521aa4c0a.setIcon(icon_dcfcb686b2da2deae556b825e148e9ae);
        
    
        var popup_cb07c3683f90a0399bf90b74c35f191b = L.popup({"maxWidth": "100%"});

        
            
                var html_b25dd7bad4490c8c6681a69c757034c5 = $(`<div id="html_b25dd7bad4490c8c6681a69c757034c5" style="width: 100.0%; height: 100.0%;">{'주차장명': '창동역 (구)구청별관주차장(구)', '주소': '도봉구 창동 5-1', '주차가능 수': '', '가격': ''}</div>`)[0];
                popup_cb07c3683f90a0399bf90b74c35f191b.setContent(html_b25dd7bad4490c8c6681a69c757034c5);
            
        

        marker_bcb12b215d4209213cf3c46521aa4c0a.bindPopup(popup_cb07c3683f90a0399bf90b74c35f191b)
        ;

        
    
    
            marker_bcb12b215d4209213cf3c46521aa4c0a.bindTooltip(
                `<div>
                     {'주차장명': '창동역 (구)구청별관주차장(구)', '주소': '도봉구 창동 5-1', '주차가능 수': '', '가격': ''}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f85fca271b7073550b71cf8c86ff856 = L.marker(
                [37.65310535, 127.04956731],
                {}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var icon_0c312090e7ebb4510ff2faee864c8be0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_4f85fca271b7073550b71cf8c86ff856.setIcon(icon_0c312090e7ebb4510ff2faee864c8be0);
        
    
        var popup_ce8abd706a4d82609160e12cb91e7090 = L.popup({"maxWidth": "100%"});

        
            
                var html_11fa8d651aba6afe226e6dfb6b9f3cb5 = $(`<div id="html_11fa8d651aba6afe226e6dfb6b9f3cb5" style="width: 100.0%; height: 100.0%;">{'주차장명': '창동역 (구)구청별관주차장(구)', '주소': '도봉구 창동 5-1', '주차가능 수': '', '가격': ''}</div>`)[0];
                popup_ce8abd706a4d82609160e12cb91e7090.setContent(html_11fa8d651aba6afe226e6dfb6b9f3cb5);
            
        

        marker_4f85fca271b7073550b71cf8c86ff856.bindPopup(popup_ce8abd706a4d82609160e12cb91e7090)
        ;

        
    
    
            marker_4f85fca271b7073550b71cf8c86ff856.bindTooltip(
                `<div>
                     {'주차장명': '창동역 (구)구청별관주차장(구)', '주소': '도봉구 창동 5-1', '주차가능 수': '', '가격': ''}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1f59795ef666d08e296267317d2dd682 = L.marker(
                [37.65306779, 127.05151003],
                {}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var icon_0a31022e28b96932ed98839b6a7546fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_1f59795ef666d08e296267317d2dd682.setIcon(icon_0a31022e28b96932ed98839b6a7546fc);
        
    
        var popup_ef77e6e6a1db116fe82325cca90148f4 = L.popup({"maxWidth": "100%"});

        
            
                var html_409649377fdfe753f3338f58a1ec3c16 = $(`<div id="html_409649377fdfe753f3338f58a1ec3c16" style="width: 100.0%; height: 100.0%;">{'주차장명': '노원세무서 앞 공영주차장(구)', '주소': '도봉구 창동 15-0', '주차가능 수': '', '가격': ''}</div>`)[0];
                popup_ef77e6e6a1db116fe82325cca90148f4.setContent(html_409649377fdfe753f3338f58a1ec3c16);
            
        

        marker_1f59795ef666d08e296267317d2dd682.bindPopup(popup_ef77e6e6a1db116fe82325cca90148f4)
        ;

        
    
    
            marker_1f59795ef666d08e296267317d2dd682.bindTooltip(
                `<div>
                     {'주차장명': '노원세무서 앞 공영주차장(구)', '주소': '도봉구 창동 15-0', '주차가능 수': '', '가격': ''}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5fc4b5744509614f086b0bc22d27f4b1 = L.marker(
                [37.6548182, 127.05610793],
                {}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var icon_414fa330f697f56ed56b9a865c8f8ea8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_5fc4b5744509614f086b0bc22d27f4b1.setIcon(icon_414fa330f697f56ed56b9a865c8f8ea8);
        
    
        var popup_d3bfce12fb5d09167304a900e3e5afb8 = L.popup({"maxWidth": "100%"});

        
            
                var html_3f86c7e6ea3441376b1d2bbeae3c917c = $(`<div id="html_3f86c7e6ea3441376b1d2bbeae3c917c" style="width: 100.0%; height: 100.0%;">{'주차장명': '구청사주변(구)', '주소': '노원구 상계동 739-2', '주차가능 수': '', '가격': '1000원 이하 (10분)'}</div>`)[0];
                popup_d3bfce12fb5d09167304a900e3e5afb8.setContent(html_3f86c7e6ea3441376b1d2bbeae3c917c);
            
        

        marker_5fc4b5744509614f086b0bc22d27f4b1.bindPopup(popup_d3bfce12fb5d09167304a900e3e5afb8)
        ;

        
    
    
            marker_5fc4b5744509614f086b0bc22d27f4b1.bindTooltip(
                `<div>
                     {'주차장명': '구청사주변(구)', '주소': '노원구 상계동 739-2', '주차가능 수': '', '가격': '1000원 이하 (10분)'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aca13eb4021a30c9d6d51f13fe96a322 = L.marker(
                [37.65237042, 127.04567683],
                {}
            ).addTo(map_3d8b077ccdf5beaba365085196c61d3e);
        
    
            var icon_581271d27e050d44adf75915e0c0862f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_aca13eb4021a30c9d6d51f13fe96a322.setIcon(icon_581271d27e050d44adf75915e0c0862f);
        
    
        var popup_69ef485eac6c4b9e7e05d88a5e50557e = L.popup({"maxWidth": "100%"});

        
            
                var html_31d5bbf864a700294e45c3b01c864d0c = $(`<div id="html_31d5bbf864a700294e45c3b01c864d0c" style="width: 100.0%; height: 100.0%;">{'주차장명': '창동역(서) 공영주차장(시)', '주소': '도봉구 창동 330-0', '주차가능 수': '37', '가격': '1000원 이하 (10분)'}</div>`)[0];
                popup_69ef485eac6c4b9e7e05d88a5e50557e.setContent(html_31d5bbf864a700294e45c3b01c864d0c);
            
        

        marker_aca13eb4021a30c9d6d51f13fe96a322.bindPopup(popup_69ef485eac6c4b9e7e05d88a5e50557e)
        ;

        
    
    
            marker_aca13eb4021a30c9d6d51f13fe96a322.bindTooltip(
                `<div>
                     {'주차장명': '창동역(서) 공영주차장(시)', '주소': '도봉구 창동 330-0', '주차가능 수': '37', '가격': '1000원 이하 (10분)'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>