<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8c97d93a28081df6a8171b36b7f224d0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_8c97d93a28081df6a8171b36b7f224d0" ></div>
        
</body>
<script>
    
    
            var map_8c97d93a28081df6a8171b36b7f224d0 = L.map(
                "map_8c97d93a28081df6a8171b36b7f224d0",
                {
                    center: [37.511178880902044, 127.05952228515162],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_29506bf722832dfa2957ed0c9da80b8d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
            var poly_line_fa046791e70a64a3b010426ce6e55334 = L.polyline(
                [[37.51310100426392, 127.06081794678035], [37.50886624865854, 127.06309273400029]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_f799ac363730df7d0328240ceb2578ce = L.popup({"maxWidth": "100%"});

        
            
                var html_a11823efcfb7f9c50257cdbbcb18722f = $(`<div id="html_a11823efcfb7f9c50257cdbbcb18722f" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로', '구간명': '삼성역사거리 ~ 아이파크타워', '구간 거리': '511m', '평균 속도': '23.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_f799ac363730df7d0328240ceb2578ce.setContent(html_a11823efcfb7f9c50257cdbbcb18722f);
            
        

        poly_line_fa046791e70a64a3b010426ce6e55334.bindPopup(popup_f799ac363730df7d0328240ceb2578ce)
        ;

        
    
    
            poly_line_fa046791e70a64a3b010426ce6e55334.bindTooltip(
                `<div>
                     {'도로명': '영동대로', '구간명': '삼성역사거리 ~ 아이파크타워', '구간 거리': '511m', '평균 속도': '23.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_356543b6010f64aa66fdcb0747cfcf59 = L.polyline(
                [[37.514243191451335, 127.06016905718138], [37.51309998493816, 127.06081851036892]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_73972b310de144e837fdbc39e7729e0d = L.popup({"maxWidth": "100%"});

        
            
                var html_688c42ab8f82cddea2fe7219688d5b7e = $(`<div id="html_688c42ab8f82cddea2fe7219688d5b7e" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로', '구간명': '아이파크타워 ~ 코엑스앞교차로', '구간 거리': '139m', '평균 속도': '28.5km/h', '혼잡도': '원활'}</div>`)[0];
                popup_73972b310de144e837fdbc39e7729e0d.setContent(html_688c42ab8f82cddea2fe7219688d5b7e);
            
        

        poly_line_356543b6010f64aa66fdcb0747cfcf59.bindPopup(popup_73972b310de144e837fdbc39e7729e0d)
        ;

        
    
    
            poly_line_356543b6010f64aa66fdcb0747cfcf59.bindTooltip(
                `<div>
                     {'도로명': '영동대로', '구간명': '아이파크타워 ~ 코엑스앞교차로', '구간 거리': '139m', '평균 속도': '28.5km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_677b7921245b0c6b41d3da483e346e55 = L.polyline(
                [[37.50890878234354, 127.06321751453763], [37.51314354031627, 127.0609427330834]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_2fbb82db94285059585b676adc51e6c6 = L.popup({"maxWidth": "100%"});

        
            
                var html_593ae1614c97f807bed8452bab3ff419 = $(`<div id="html_593ae1614c97f807bed8452bab3ff419" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로', '구간명': '아이파크타워 ~ 삼성역사거리', '구간 거리': '511m', '평균 속도': '24.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_2fbb82db94285059585b676adc51e6c6.setContent(html_593ae1614c97f807bed8452bab3ff419);
            
        

        poly_line_677b7921245b0c6b41d3da483e346e55.bindPopup(popup_2fbb82db94285059585b676adc51e6c6)
        ;

        
    
    
            poly_line_677b7921245b0c6b41d3da483e346e55.bindTooltip(
                `<div>
                     {'도로명': '영동대로', '구간명': '아이파크타워 ~ 삼성역사거리', '구간 거리': '511m', '평균 속도': '24.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_321a2a6a6c719ca02778fc05f9e6f4dd = L.polyline(
                [[37.51314456054358, 127.06094216949691], [37.51428776772667, 127.06029271781114]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_8c3b6e89672b214ad00180b51a56f567 = L.popup({"maxWidth": "100%"});

        
            
                var html_8c922d4fad0329e295403f05cc3d4b2d = $(`<div id="html_8c922d4fad0329e295403f05cc3d4b2d" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로', '구간명': '코엑스앞교차로 ~ 아이파크타워', '구간 거리': '139m', '평균 속도': '19.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_8c3b6e89672b214ad00180b51a56f567.setContent(html_8c922d4fad0329e295403f05cc3d4b2d);
            
        

        poly_line_321a2a6a6c719ca02778fc05f9e6f4dd.bindPopup(popup_8c3b6e89672b214ad00180b51a56f567)
        ;

        
    
    
            poly_line_321a2a6a6c719ca02778fc05f9e6f4dd.bindTooltip(
                `<div>
                     {'도로명': '영동대로', '구간명': '코엑스앞교차로 ~ 아이파크타워', '구간 거리': '139m', '평균 속도': '19.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_b2fe2a4b2d26f9c4f55c6a180a764a76 = L.polyline(
                [[37.508578535050354, 127.06196824576838], [37.50778841167532, 127.05941294295309]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_7d6181c7c0ec79c88bdf5b487ac5ae9b = L.popup({"maxWidth": "100%"});

        
            
                var html_04ee1f44f27b7e742493cc48d69b0863 = $(`<div id="html_04ee1f44f27b7e742493cc48d69b0863" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로', '구간명': '삼성동현대백화점 ~ 슈페리어사옥', '구간 거리': '242m', '평균 속도': '20.5km/h', '혼잡도': '서행'}</div>`)[0];
                popup_7d6181c7c0ec79c88bdf5b487ac5ae9b.setContent(html_04ee1f44f27b7e742493cc48d69b0863);
            
        

        poly_line_b2fe2a4b2d26f9c4f55c6a180a764a76.bindPopup(popup_7d6181c7c0ec79c88bdf5b487ac5ae9b)
        ;

        
    
    
            poly_line_b2fe2a4b2d26f9c4f55c6a180a764a76.bindTooltip(
                `<div>
                     {'도로명': '테헤란로', '구간명': '삼성동현대백화점 ~ 슈페리어사옥', '구간 거리': '242m', '평균 속도': '20.5km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_ac51713a18f697719fbdebcd9e4f0407 = L.polyline(
                [[37.50893791327151, 127.06313057074863], [37.508578535050354, 127.06196824576838]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_e11448d9b654a0b59d1cc8ade622819b = L.popup({"maxWidth": "100%"});

        
            
                var html_547f7bc93e9f184629e4cf5a41649e9d = $(`<div id="html_547f7bc93e9f184629e4cf5a41649e9d" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로', '구간명': '슈페리어사옥 ~ 삼성역사거리', '구간 거리': '110m', '평균 속도': '22.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_e11448d9b654a0b59d1cc8ade622819b.setContent(html_547f7bc93e9f184629e4cf5a41649e9d);
            
        

        poly_line_ac51713a18f697719fbdebcd9e4f0407.bindPopup(popup_e11448d9b654a0b59d1cc8ade622819b)
        ;

        
    
    
            poly_line_ac51713a18f697719fbdebcd9e4f0407.bindTooltip(
                `<div>
                     {'도로명': '테헤란로', '구간명': '슈페리어사옥 ~ 삼성역사거리', '구간 거리': '110m', '평균 속도': '22.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_cdfcec1ef31a354a6bf2155d68508e44 = L.polyline(
                [[37.50768761768351, 127.0594620553063], [37.50847774091378, 127.06201735407018]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_2efb417f04753c90f7ddf0a4ae43c6a7 = L.popup({"maxWidth": "100%"});

        
            
                var html_ca4b182c9a0aef5b7d05c0a95d669192 = $(`<div id="html_ca4b182c9a0aef5b7d05c0a95d669192" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로', '구간명': '슈페리어사옥 ~ 삼성동현대백화점', '구간 거리': '242m', '평균 속도': '11.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_2efb417f04753c90f7ddf0a4ae43c6a7.setContent(html_ca4b182c9a0aef5b7d05c0a95d669192);
            
        

        poly_line_cdfcec1ef31a354a6bf2155d68508e44.bindPopup(popup_2efb417f04753c90f7ddf0a4ae43c6a7)
        ;

        
    
    
            poly_line_cdfcec1ef31a354a6bf2155d68508e44.bindTooltip(
                `<div>
                     {'도로명': '테헤란로', '구간명': '슈페리어사옥 ~ 삼성동현대백화점', '구간 거리': '242m', '평균 속도': '11.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_fcaf6054646ae676bbeb5e02b2b4112c = L.polyline(
                [[37.50847774091378, 127.06201735407018], [37.50883711775812, 127.06317967772095]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_e8bf3f832a6fed7060919d13104feaf4 = L.popup({"maxWidth": "100%"});

        
            
                var html_a8c0d676e7da04ef5f246f0879f32f46 = $(`<div id="html_a8c0d676e7da04ef5f246f0879f32f46" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로', '구간명': '삼성역사거리 ~ 슈페리어사옥', '구간 거리': '110m', '평균 속도': '6.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_e8bf3f832a6fed7060919d13104feaf4.setContent(html_a8c0d676e7da04ef5f246f0879f32f46);
            
        

        poly_line_fcaf6054646ae676bbeb5e02b2b4112c.bindPopup(popup_e8bf3f832a6fed7060919d13104feaf4)
        ;

        
    
    
            poly_line_fcaf6054646ae676bbeb5e02b2b4112c.bindTooltip(
                `<div>
                     {'도로명': '테헤란로', '구간명': '삼성역사거리 ~ 슈페리어사옥', '구간 거리': '110m', '평균 속도': '6.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_1124417aa288ec0055a900b1fb284c8d = L.polyline(
                [[37.51431817173479, 127.06021571919409], [37.51360658920442, 127.05632050656233]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_1e928de8ec345eba3756a7bb217aef26 = L.popup({"maxWidth": "100%"});

        
            
                var html_b8151a1ebf9e3ccdffbd4e528fa1af86 = $(`<div id="html_b8151a1ebf9e3ccdffbd4e528fa1af86" style="width: 100.0%; height: 100.0%;">{'도로명': '봉은사로', '구간명': '봉은사삼거리 ~ 코엑스앞교차로', '구간 거리': '353m', '평균 속도': '17.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_1e928de8ec345eba3756a7bb217aef26.setContent(html_b8151a1ebf9e3ccdffbd4e528fa1af86);
            
        

        poly_line_1124417aa288ec0055a900b1fb284c8d.bindPopup(popup_1e928de8ec345eba3756a7bb217aef26)
        ;

        
    
    
            poly_line_1124417aa288ec0055a900b1fb284c8d.bindTooltip(
                `<div>
                     {'도로명': '봉은사로', '구간명': '봉은사삼거리 ~ 코엑스앞교차로', '구간 거리': '353m', '평균 속도': '17.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_e2616e99350e8c7b9afb1636f3df1b3c = L.polyline(
                [[37.513501205024276, 127.0563508505617], [37.51421278657177, 127.0602460568707]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_8399d29c1e2b3716a47db85a282ef878 = L.popup({"maxWidth": "100%"});

        
            
                var html_3c5df68c53a654407676b8a775d3d6ca = $(`<div id="html_3c5df68c53a654407676b8a775d3d6ca" style="width: 100.0%; height: 100.0%;">{'도로명': '봉은사로', '구간명': '코엑스앞교차로 ~ 봉은사삼거리', '구간 거리': '353m', '평균 속도': '13.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_8399d29c1e2b3716a47db85a282ef878.setContent(html_3c5df68c53a654407676b8a775d3d6ca);
            
        

        poly_line_e2616e99350e8c7b9afb1636f3df1b3c.bindPopup(popup_8399d29c1e2b3716a47db85a282ef878)
        ;

        
    
    
            poly_line_e2616e99350e8c7b9afb1636f3df1b3c.bindTooltip(
                `<div>
                     {'도로명': '봉은사로', '구간명': '코엑스앞교차로 ~ 봉은사삼거리', '구간 거리': '353m', '평균 속도': '13.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_7685403866d4b1b9357e3b7b31dcc4d9 = L.polyline(
                [[37.50850726661173, 127.06193020026964], [37.50717434555536, 127.06263046992194]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_ea0eeca05ac85939cdc0749bcf8999e2 = L.popup({"maxWidth": "100%"});

        
            
                var html_72c33b86a4245a7acafcbbc07beb5dac = $(`<div id="html_72c33b86a4245a7acafcbbc07beb5dac" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로98길', '구간명': '대치동송석빌딩 ~ 슈페리어사옥', '구간 거리': '160m', '평균 속도': '9.5km/h', '혼잡도': '정체'}</div>`)[0];
                popup_ea0eeca05ac85939cdc0749bcf8999e2.setContent(html_72c33b86a4245a7acafcbbc07beb5dac);
            
        

        poly_line_7685403866d4b1b9357e3b7b31dcc4d9.bindPopup(popup_ea0eeca05ac85939cdc0749bcf8999e2)
        ;

        
    
    
            poly_line_7685403866d4b1b9357e3b7b31dcc4d9.bindTooltip(
                `<div>
                     {'도로명': '테헤란로98길', '구간명': '대치동송석빌딩 ~ 슈페리어사옥', '구간 거리': '160m', '평균 속도': '9.5km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_80a5d67f1c75b4758715b4bbf0c12ef6 = L.polyline(
                [[37.50721608753724, 127.06275566745079], [37.50854900932471, 127.06205539963679]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_36f7cdc5cdade1f8896cbb17cfe0a9d6 = L.popup({"maxWidth": "100%"});

        
            
                var html_dc7f02aed31c4e3f5c7f811a4feb37b8 = $(`<div id="html_dc7f02aed31c4e3f5c7f811a4feb37b8" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로98길', '구간명': '슈페리어사옥 ~ 대치동송석빌딩', '구간 거리': '160m', '평균 속도': '15.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_36f7cdc5cdade1f8896cbb17cfe0a9d6.setContent(html_dc7f02aed31c4e3f5c7f811a4feb37b8);
            
        

        poly_line_80a5d67f1c75b4758715b4bbf0c12ef6.bindPopup(popup_36f7cdc5cdade1f8896cbb17cfe0a9d6)
        ;

        
    
    
            poly_line_80a5d67f1c75b4758715b4bbf0c12ef6.bindTooltip(
                `<div>
                     {'도로명': '테헤란로98길', '구간명': '슈페리어사옥 ~ 대치동송석빌딩', '구간 거리': '160m', '평균 속도': '15.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_db7fd3c2e5931565c8f6ab3b18ea7970 = L.polyline(
                [[37.50936563075486, 127.05848765062363], [37.507716711606086, 127.05937512953886]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_c02e3979771b69d21ab726a4e6f63b6d = L.popup({"maxWidth": "100%"});

        
            
                var html_453aea48368c036a9e2e24f5e18714be = $(`<div id="html_453aea48368c036a9e2e24f5e18714be" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로87길', '구간명': '삼성동현대백화점 ~ 도심공항터미널', '구간 거리': '199m', '평균 속도': '17.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_c02e3979771b69d21ab726a4e6f63b6d.setContent(html_453aea48368c036a9e2e24f5e18714be);
            
        

        poly_line_db7fd3c2e5931565c8f6ab3b18ea7970.bindPopup(popup_c02e3979771b69d21ab726a4e6f63b6d)
        ;

        
    
    
            poly_line_db7fd3c2e5931565c8f6ab3b18ea7970.bindTooltip(
                `<div>
                     {'도로명': '테헤란로87길', '구간명': '삼성동현대백화점 ~ 도심공항터미널', '구간 거리': '199m', '평균 속도': '17.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_6104cdd5d2c62f67ec1ded0d7b7c257f = L.polyline(
                [[37.50775931772522, 127.05949986878886], [37.50940823779734, 127.05861239211556]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_424f7f38bd0b2869ebb2cee67c0da653 = L.popup({"maxWidth": "100%"});

        
            
                var html_2ab47e8d47e1f1d968eab2e0276be2ed = $(`<div id="html_2ab47e8d47e1f1d968eab2e0276be2ed" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로87길', '구간명': '도심공항터미널 ~ 삼성동현대백화점', '구간 거리': '199m', '평균 속도': '30.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_424f7f38bd0b2869ebb2cee67c0da653.setContent(html_2ab47e8d47e1f1d968eab2e0276be2ed);
            
        

        poly_line_6104cdd5d2c62f67ec1ded0d7b7c257f.bindPopup(popup_424f7f38bd0b2869ebb2cee67c0da653)
        ;

        
    
    
            poly_line_6104cdd5d2c62f67ec1ded0d7b7c257f.bindTooltip(
                `<div>
                     {'도로명': '테헤란로87길', '구간명': '도심공항터미널 ~ 삼성동현대백화점', '구간 거리': '199m', '평균 속도': '30.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_f7d48e110cba7754036acccffd859e25 = L.polyline(
                [[37.50840539157791, 127.05582059646366], [37.50874713858185, 127.05668434672708], [37.508921249836945, 127.05725184520432], [37.50933663824305, 127.05857490333386]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_f8c209c688bc6a41b36908678b917d1a = L.popup({"maxWidth": "100%"});

        
            
                var html_c73ef1d3d915669ad61092ffadd8f49f = $(`<div id="html_c73ef1d3d915669ad61092ffadd8f49f" style="width: 100.0%; height: 100.0%;">{'도로명': '삼성로96길', '구간명': '도심공항터미널 ~ 원혜빌딩', '구간 거리': '265m', '평균 속도': '23.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_f8c209c688bc6a41b36908678b917d1a.setContent(html_c73ef1d3d915669ad61092ffadd8f49f);
            
        

        poly_line_f7d48e110cba7754036acccffd859e25.bindPopup(popup_f8c209c688bc6a41b36908678b917d1a)
        ;

        
    
    
            poly_line_f7d48e110cba7754036acccffd859e25.bindTooltip(
                `<div>
                     {'도로명': '삼성로96길', '구간명': '도심공항터미널 ~ 원혜빌딩', '구간 거리': '265m', '평균 속도': '23.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_5e8e9a62b91d9e9b54b6ac9052bd6b57 = L.polyline(
                [[37.50943722943549, 127.05852513933586], [37.5090219943138, 127.05720257182146], [37.50884622036744, 127.056629652677], [37.508502225841816, 127.05576022323743]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_028bade387cdf43a66bf2b2c0c9429ee = L.popup({"maxWidth": "100%"});

        
            
                var html_31a528575f37a9181912a3226209c720 = $(`<div id="html_31a528575f37a9181912a3226209c720" style="width: 100.0%; height: 100.0%;">{'도로명': '삼성로96길', '구간명': '원혜빌딩 ~ 도심공항터미널', '구간 거리': '266m', '평균 속도': '15.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_028bade387cdf43a66bf2b2c0c9429ee.setContent(html_31a528575f37a9181912a3226209c720);
            
        

        poly_line_5e8e9a62b91d9e9b54b6ac9052bd6b57.bindPopup(popup_028bade387cdf43a66bf2b2c0c9429ee)
        ;

        
    
    
            poly_line_5e8e9a62b91d9e9b54b6ac9052bd6b57.bindTooltip(
                `<div>
                     {'도로명': '삼성로96길', '구간명': '원혜빌딩 ~ 도심공항터미널', '구간 거리': '266m', '평균 속도': '15.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_1a3604ae79bff40494b1f954d393790e = L.polyline(
                [[37.51353296553659, 127.0562731056442], [37.51082871844092, 127.057698654482], [37.509365596507735, 127.05848766869356]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_07120218e17891574cb153445d8bed68 = L.popup({"maxWidth": "100%"});

        
            
                var html_d8b5572fd41dfa3e45b46df8ab3e57bb = $(`<div id="html_d8b5572fd41dfa3e45b46df8ab3e57bb" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로87길', '구간명': '도심공항터미널 ~ 봉은사삼거리', '구간 거리': '502m', '평균 속도': '26.5km/h', '혼잡도': '원활'}</div>`)[0];
                popup_07120218e17891574cb153445d8bed68.setContent(html_d8b5572fd41dfa3e45b46df8ab3e57bb);
            
        

        poly_line_1a3604ae79bff40494b1f954d393790e.bindPopup(popup_07120218e17891574cb153445d8bed68)
        ;

        
    
    
            poly_line_1a3604ae79bff40494b1f954d393790e.bindTooltip(
                `<div>
                     {'도로명': '테헤란로87길', '구간명': '도심공항터미널 ~ 봉은사삼거리', '구간 거리': '502m', '평균 속도': '26.5km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_2c73404e1337974dd67748f95b625050 = L.polyline(
                [[37.509408272044446, 127.05861237404577], [37.51087098743715, 127.05782358093275], [37.51357482776031, 127.05639825153538]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_28ab372a262114bf4f896ad95879d696 = L.popup({"maxWidth": "100%"});

        
            
                var html_dfb29df7d42bca7a918dde432825e79a = $(`<div id="html_dfb29df7d42bca7a918dde432825e79a" style="width: 100.0%; height: 100.0%;">{'도로명': '테헤란로87길', '구간명': '봉은사삼거리 ~ 도심공항터미널', '구간 거리': '502m', '평균 속도': '16.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_28ab372a262114bf4f896ad95879d696.setContent(html_dfb29df7d42bca7a918dde432825e79a);
            
        

        poly_line_2c73404e1337974dd67748f95b625050.bindPopup(popup_28ab372a262114bf4f896ad95879d696)
        ;

        
    
    
            poly_line_2c73404e1337974dd67748f95b625050.bindTooltip(
                `<div>
                     {'도로명': '테헤란로87길', '구간명': '봉은사삼거리 ~ 도심공항터미널', '구간 거리': '502m', '평균 속도': '16.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_a95bf360cfe21320f792b508e697a8bf = L.polyline(
                [[37.51307058272472, 127.0609002147833], [37.51315220021399, 127.06123473894746], [37.513518295304735, 127.06235236237056]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_b9b0c2fdc1e1fafd370c3839f2443b1e = L.popup({"maxWidth": "100%"});

        
            
                var html_6e3030ba39e939ce6618bcbc940d6c63 = $(`<div id="html_6e3030ba39e939ce6618bcbc940d6c63" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로106길', '구간명': '삼성1동주민센터 ~ 아이파크타워', '구간 거리': '138m', '평균 속도': '17.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_b9b0c2fdc1e1fafd370c3839f2443b1e.setContent(html_6e3030ba39e939ce6618bcbc940d6c63);
            
        

        poly_line_a95bf360cfe21320f792b508e697a8bf.bindPopup(popup_b9b0c2fdc1e1fafd370c3839f2443b1e)
        ;

        
    
    
            poly_line_a95bf360cfe21320f792b508e697a8bf.bindTooltip(
                `<div>
                     {'도로명': '영동대로106길', '구간명': '삼성1동주민센터 ~ 아이파크타워', '구간 거리': '138m', '평균 속도': '17.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_d9ff2cf6b35013e148233c7eb28fd986 = L.polyline(
                [[37.513518295304735, 127.06235236237056], [37.51354612658207, 127.06243732890223], [37.513852471413024, 127.06331092160762], [37.5140504986037, 127.06404949429198], [37.514226180531274, 127.06511621730077], [37.514148842733135, 127.06584459026891]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_860bdccd63d35a5c08799d95c742ebdc = L.popup({"maxWidth": "100%"});

        
            
                var html_5030b0f8f7669f9da62e5233731dbdfe = $(`<div id="html_5030b0f8f7669f9da62e5233731dbdfe" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로106길', '구간명': '서울의료원별관 ~ 삼성1동주민센터', '구간 거리': '323m', '평균 속도': '4.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_860bdccd63d35a5c08799d95c742ebdc.setContent(html_5030b0f8f7669f9da62e5233731dbdfe);
            
        

        poly_line_d9ff2cf6b35013e148233c7eb28fd986.bindPopup(popup_860bdccd63d35a5c08799d95c742ebdc)
        ;

        
    
    
            poly_line_d9ff2cf6b35013e148233c7eb28fd986.bindTooltip(
                `<div>
                     {'도로명': '영동대로106길', '구간명': '서울의료원별관 ~ 삼성1동주민센터', '구간 거리': '323m', '평균 속도': '4.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_195748ba5b69a3cb0a8ab54763db1296 = L.polyline(
                [[37.51425601434427, 127.06586252430816], [37.51433577863722, 127.06511130508856], [37.51415505592685, 127.06401397405375], [37.51395338942546, 127.06326182860569], [37.51364561739427, 127.06238416629338], [37.513618290729084, 127.06230074177944]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_1c784cfa94dbcbf459994b0ba166f124 = L.popup({"maxWidth": "100%"});

        
            
                var html_beca1ee065065dfc7645f4e185d54fb8 = $(`<div id="html_beca1ee065065dfc7645f4e185d54fb8" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로106길', '구간명': '삼성1동주민센터 ~ 서울의료원별관', '구간 거리': '329m', '평균 속도': '10.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_1c784cfa94dbcbf459994b0ba166f124.setContent(html_beca1ee065065dfc7645f4e185d54fb8);
            
        

        poly_line_195748ba5b69a3cb0a8ab54763db1296.bindPopup(popup_1c784cfa94dbcbf459994b0ba166f124)
        ;

        
    
    
            poly_line_195748ba5b69a3cb0a8ab54763db1296.bindTooltip(
                `<div>
                     {'도로명': '영동대로106길', '구간명': '삼성1동주민센터 ~ 서울의료원별관', '구간 거리': '329m', '평균 속도': '10.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_390845b4641d15534dac72fd0c8c6f11 = L.polyline(
                [[37.513618290729084, 127.06230074177944], [37.51325410766812, 127.06118895400152], [37.513173962785785, 127.06086046501844]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_8a47d3bf4df206d5cd2f7b0c7c5e6776 = L.popup({"maxWidth": "100%"});

        
            
                var html_f33811d36cab4762944ebe9645ba3d40 = $(`<div id="html_f33811d36cab4762944ebe9645ba3d40" style="width: 100.0%; height: 100.0%;">{'도로명': '영동대로106길', '구간명': '아이파크타워 ~ 삼성1동주민센터', '구간 거리': '137m', '평균 속도': '10.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_8a47d3bf4df206d5cd2f7b0c7c5e6776.setContent(html_f33811d36cab4762944ebe9645ba3d40);
            
        

        poly_line_390845b4641d15534dac72fd0c8c6f11.bindPopup(popup_8a47d3bf4df206d5cd2f7b0c7c5e6776)
        ;

        
    
    
            poly_line_390845b4641d15534dac72fd0c8c6f11.bindTooltip(
                `<div>
                     {'도로명': '영동대로106길', '구간명': '아이파크타워 ~ 삼성1동주민센터', '구간 거리': '137m', '평균 속도': '10.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_68f3cbd6da29ee42396766f1cd7ee820 = L.polyline(
                [[37.51452291453684, 127.06175046535826], [37.51429093503684, 127.061867276414], [37.5137650988473, 127.0621427275968], [37.51354637457994, 127.06226451506437]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_0650a146b764f5a26f77546508b4174f = L.popup({"maxWidth": "100%"});

        
            
                var html_c6c1c67a7b5ff5f21d9f6372fd4684fa = $(`<div id="html_c6c1c67a7b5ff5f21d9f6372fd4684fa" style="width: 100.0%; height: 100.0%;">{'도로명': '봉은사로104길', '구간명': '삼성1동주민센터 ~ 삼성1동주민센터', '구간 거리': '118m', '평균 속도': '19.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_0650a146b764f5a26f77546508b4174f.setContent(html_c6c1c67a7b5ff5f21d9f6372fd4684fa);
            
        

        poly_line_68f3cbd6da29ee42396766f1cd7ee820.bindPopup(popup_0650a146b764f5a26f77546508b4174f)
        ;

        
    
    
            poly_line_68f3cbd6da29ee42396766f1cd7ee820.bindTooltip(
                `<div>
                     {'도로명': '봉은사로104길', '구간명': '삼성1동주민센터 ~ 삼성1동주민센터', '구간 거리': '118m', '평균 속도': '19.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_023b0cd4594ee295ca80e2c964c0d8c2 = L.polyline(
                [[37.513590211426596, 127.0623885902874], [37.51380784077879, 127.06226741299768], [37.51433188015934, 127.06199290326353], [37.51456316492437, 127.0618764426054]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8c97d93a28081df6a8171b36b7f224d0);
        
    
        var popup_cce03a1707db8bf8bfd9783279737c35 = L.popup({"maxWidth": "100%"});

        
            
                var html_fdc5ddf0bd4c2b97043abd8ca1cbb704 = $(`<div id="html_fdc5ddf0bd4c2b97043abd8ca1cbb704" style="width: 100.0%; height: 100.0%;">{'도로명': '봉은사로104길', '구간명': '삼성1동주민센터 ~ 삼성1동주민센터', '구간 거리': '117m', '평균 속도': '23.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_cce03a1707db8bf8bfd9783279737c35.setContent(html_fdc5ddf0bd4c2b97043abd8ca1cbb704);
            
        

        poly_line_023b0cd4594ee295ca80e2c964c0d8c2.bindPopup(popup_cce03a1707db8bf8bfd9783279737c35)
        ;

        
    
    
            poly_line_023b0cd4594ee295ca80e2c964c0d8c2.bindTooltip(
                `<div>
                     {'도로명': '봉은사로104길', '구간명': '삼성1동주민센터 ~ 삼성1동주민센터', '구간 거리': '117m', '평균 속도': '23.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>