<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9119a083f88cb60c766c946a1b665f4b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9119a083f88cb60c766c946a1b665f4b" ></div>
        
</body>
<script>
    
    
            var map_9119a083f88cb60c766c946a1b665f4b = L.map(
                "map_9119a083f88cb60c766c946a1b665f4b",
                {
                    center: [37.5049902701157, 127.00668404146434],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8562abbfefa137c2f42d832f5115bc52 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
            var poly_line_853dd95d520adcb080ec1524c747e7d6 = L.polyline(
                [[37.50223911373074, 127.00338078173942], [37.50173620367513, 127.00220544343688], [37.50076796787699, 126.99974787315406]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_9f7696acdbcb6a793022ecf206b66a0e = L.popup({"maxWidth": "100%"});

        
            
                var html_05c0c2d0e91ba810b4fb4da17a552b5b = $(`<div id="html_05c0c2d0e91ba810b4fb4da17a552b5b" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '사평지하차도서측 ~ 서울성모병원앞교차로', '구간 거리': '360m', '평균 속도': '50.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_9f7696acdbcb6a793022ecf206b66a0e.setContent(html_05c0c2d0e91ba810b4fb4da17a552b5b);
            
        

        poly_line_853dd95d520adcb080ec1524c747e7d6.bindPopup(popup_9f7696acdbcb6a793022ecf206b66a0e)
        ;

        
    
    
            poly_line_853dd95d520adcb080ec1524c747e7d6.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '사평지하차도서측 ~ 서울성모병원앞교차로', '구간 거리': '360m', '평균 속도': '50.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_67aab9c18263d35004a6cb936165386c = L.polyline(
                [[37.50399963273177, 126.99800017139566], [37.504769974997195, 127.00066831849114], [37.50495750956171, 127.00111786303563]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_7dd71e9997a1c5ced82827fdce50e5e4 = L.popup({"maxWidth": "100%"});

        
            
                var html_71eb199cbc5be1bcd314d1a9ca6e45eb = $(`<div id="html_71eb199cbc5be1bcd314d1a9ca6e45eb" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로', '구간명': '고속터미널사거리 ~ 남서울교회어린이집', '구간 거리': '296m', '평균 속도': '26.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_7dd71e9997a1c5ced82827fdce50e5e4.setContent(html_71eb199cbc5be1bcd314d1a9ca6e45eb);
            
        

        poly_line_67aab9c18263d35004a6cb936165386c.bindPopup(popup_7dd71e9997a1c5ced82827fdce50e5e4)
        ;

        
    
    
            poly_line_67aab9c18263d35004a6cb936165386c.bindTooltip(
                `<div>
                     {'도로명': '신반포로', '구간명': '고속터미널사거리 ~ 남서울교회어린이집', '구간 거리': '296m', '평균 속도': '26.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_06617de0f9b44efb9fdbeb5980b16edc = L.polyline(
                [[37.50341780231851, 127.00641844522048], [37.50224106697407, 127.0033855713161]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_2b12b21843fe06b9b101ab18fe426de9 = L.popup({"maxWidth": "100%"});

        
            
                var html_237ead6b43002d0493c7b18affe1968f = $(`<div id="html_237ead6b43002d0493c7b18affe1968f" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '서울성모병원앞교차로 ~ 사평지하차도동측', '구간 거리': '298m', '평균 속도': '25.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_2b12b21843fe06b9b101ab18fe426de9.setContent(html_237ead6b43002d0493c7b18affe1968f);
            
        

        poly_line_06617de0f9b44efb9fdbeb5980b16edc.bindPopup(popup_2b12b21843fe06b9b101ab18fe426de9)
        ;

        
    
    
            poly_line_06617de0f9b44efb9fdbeb5980b16edc.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '서울성모병원앞교차로 ~ 사평지하차도동측', '구간 거리': '298m', '평균 속도': '25.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_6f7957fef2e6af173c2ae688aa994cea = L.polyline(
                [[37.504592174653524, 127.00961819298102], [37.50336925090713, 127.00644828901824]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_b84dc12a7f712e90c361531ff279ac18 = L.popup({"maxWidth": "100%"});

        
            
                var html_c6d72631ad198b303af82fbabd457960 = $(`<div id="html_c6d72631ad198b303af82fbabd457960" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '사평지하차도동측 ~ 삼호가든사거리', '구간 거리': '311m', '평균 속도': '44.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_b84dc12a7f712e90c361531ff279ac18.setContent(html_c6d72631ad198b303af82fbabd457960);
            
        

        poly_line_6f7957fef2e6af173c2ae688aa994cea.bindPopup(popup_b84dc12a7f712e90c361531ff279ac18)
        ;

        
    
    
            poly_line_6f7957fef2e6af173c2ae688aa994cea.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '사평지하차도동측 ~ 삼호가든사거리', '구간 거리': '311m', '평균 속도': '44.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_2c45eb80b0521f9db9e22e902cc80d91 = L.polyline(
                [[37.504807488776294, 127.01035407296158], [37.504594272589706, 127.00962439885784]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_af61e9eb2a3234e64175e1cefae64d4f = L.popup({"maxWidth": "100%"});

        
            
                var html_dcfb127e787bf0aebe72144882fae6d6 = $(`<div id="html_dcfb127e787bf0aebe72144882fae6d6" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 삼호가든사거리', '구간 거리': '69m', '평균 속도': '34.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_af61e9eb2a3234e64175e1cefae64d4f.setContent(html_dcfb127e787bf0aebe72144882fae6d6);
            
        

        poly_line_2c45eb80b0521f9db9e22e902cc80d91.bindPopup(popup_af61e9eb2a3234e64175e1cefae64d4f)
        ;

        
    
    
            poly_line_2c45eb80b0521f9db9e22e902cc80d91.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 삼호가든사거리', '구간 거리': '69m', '평균 속도': '34.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_cb90b9b2a806512fa7e07352d52e0d75 = L.polyline(
                [[37.5020466561904, 127.0035044150577], [37.5032233885229, 127.00653728296255]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_08e1c12d0adef26b5a1d966934bcea84 = L.popup({"maxWidth": "100%"});

        
            
                var html_34921672a39c155aff681778a25bdd1b = $(`<div id="html_34921672a39c155aff681778a25bdd1b" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '사평지하차도동측 ~ 서울성모병원앞교차로', '구간 거리': '298m', '평균 속도': '16.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_08e1c12d0adef26b5a1d966934bcea84.setContent(html_34921672a39c155aff681778a25bdd1b);
            
        

        poly_line_cb90b9b2a806512fa7e07352d52e0d75.bindPopup(popup_08e1c12d0adef26b5a1d966934bcea84)
        ;

        
    
    
            poly_line_cb90b9b2a806512fa7e07352d52e0d75.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '사평지하차도동측 ~ 서울성모병원앞교차로', '구간 거리': '298m', '평균 속도': '16.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_27ca73b899d6617c653a4e693cdc793b = L.polyline(
                [[37.503271939957884, 127.00650744041145], [37.504494862137705, 127.0096773400932]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_0559d0a379ef7a991a2fce1aa85ee9f2 = L.popup({"maxWidth": "100%"});

        
            
                var html_7ea48f09778f6b4afb5faac74199afa1 = $(`<div id="html_7ea48f09778f6b4afb5faac74199afa1" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 사평지하차도동측', '구간 거리': '311m', '평균 속도': '12.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_0559d0a379ef7a991a2fce1aa85ee9f2.setContent(html_7ea48f09778f6b4afb5faac74199afa1);
            
        

        poly_line_27ca73b899d6617c653a4e693cdc793b.bindPopup(popup_0559d0a379ef7a991a2fce1aa85ee9f2)
        ;

        
    
    
            poly_line_27ca73b899d6617c653a4e693cdc793b.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 사평지하차도동측', '구간 거리': '311m', '평균 속도': '12.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_15db4601b2607ca5117c2768f00c321e = L.polyline(
                [[37.50449276420427, 127.00967113422311], [37.50470598100708, 127.01040080634083]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_82e51ae73c2f5aebae510951262feda3 = L.popup({"maxWidth": "100%"});

        
            
                var html_a16a831336d384da165009835cbd37af = $(`<div id="html_a16a831336d384da165009835cbd37af" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 삼호가든사거리', '구간 거리': '69m', '평균 속도': '10.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_82e51ae73c2f5aebae510951262feda3.setContent(html_a16a831336d384da165009835cbd37af);
            
        

        poly_line_15db4601b2607ca5117c2768f00c321e.bindPopup(popup_82e51ae73c2f5aebae510951262feda3)
        ;

        
    
    
            poly_line_15db4601b2607ca5117c2768f00c321e.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 삼호가든사거리', '구간 거리': '69m', '평균 속도': '10.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_ac49d811a9bd1fe31076b89ae65bb95d = L.polyline(
                [[37.50323018378059, 127.00243710151089], [37.502113492568775, 127.00338885542557]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_4a07294a8893b86b11e03247cd31e7e2 = L.popup({"maxWidth": "100%"});

        
            
                var html_3bd1c61ad2e174a75ee2fd5377a7bae7 = $(`<div id="html_3bd1c61ad2e174a75ee2fd5377a7bae7" style="width: 100.0%; height: 100.0%;">{'도로명': '반포대로', '구간명': '서울성모병원앞교차로 ~ 반포대교고가차도남측', '구간 거리': '150m', '평균 속도': '14.7km/h', '혼잡도': '정체'}</div>`)[0];
                popup_4a07294a8893b86b11e03247cd31e7e2.setContent(html_3bd1c61ad2e174a75ee2fd5377a7bae7);
            
        

        poly_line_ac49d811a9bd1fe31076b89ae65bb95d.bindPopup(popup_4a07294a8893b86b11e03247cd31e7e2)
        ;

        
    
    
            poly_line_ac49d811a9bd1fe31076b89ae65bb95d.bindTooltip(
                `<div>
                     {'도로명': '반포대로', '구간명': '서울성모병원앞교차로 ~ 반포대교고가차도남측', '구간 거리': '150m', '평균 속도': '14.7km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_9d846e6174503f87a53232774de4645c = L.polyline(
                [[37.50494977483629, 127.00097000770516], [37.50461427952852, 127.00122267582944], [37.503201478012926, 127.00237957395481]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_c13c16d261030dfffc641040b1346452 = L.popup({"maxWidth": "100%"});

        
            
                var html_35ef940e59e142b5f6031a0b755ab812 = $(`<div id="html_35ef940e59e142b5f6031a0b755ab812" style="width: 100.0%; height: 100.0%;">{'도로명': '반포대로', '구간명': '반포대교고가차도남측 ~ 고속터미널사거리', '구간 거리': '231m', '평균 속도': '22.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_c13c16d261030dfffc641040b1346452.setContent(html_35ef940e59e142b5f6031a0b755ab812);
            
        

        poly_line_9d846e6174503f87a53232774de4645c.bindPopup(popup_c13c16d261030dfffc641040b1346452)
        ;

        
    
    
            poly_line_9d846e6174503f87a53232774de4645c.bindTooltip(
                `<div>
                     {'도로명': '반포대로', '구간명': '반포대교고가차도남측 ~ 고속터미널사거리', '구간 거리': '231m', '평균 속도': '22.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_f9dca9cb00db8dab754d45b1f272fae7 = L.polyline(
                [[37.502174229699335, 127.00350113114774], [37.50329092180427, 127.00254937700343]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_8c66ed346fd52346e7f2f3242657a0ed = L.popup({"maxWidth": "100%"});

        
            
                var html_2f031e9bd7d9dc0101728cf2effc6047 = $(`<div id="html_2f031e9bd7d9dc0101728cf2effc6047" style="width: 100.0%; height: 100.0%;">{'도로명': '반포대로', '구간명': '반포대교고가차도남측 ~ 서울성모병원앞교차로', '구간 거리': '150m', '평균 속도': '21.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_8c66ed346fd52346e7f2f3242657a0ed.setContent(html_2f031e9bd7d9dc0101728cf2effc6047);
            
        

        poly_line_f9dca9cb00db8dab754d45b1f272fae7.bindPopup(popup_8c66ed346fd52346e7f2f3242657a0ed)
        ;

        
    
    
            poly_line_f9dca9cb00db8dab754d45b1f272fae7.bindTooltip(
                `<div>
                     {'도로명': '반포대로', '구간명': '반포대교고가차도남측 ~ 서울성모병원앞교차로', '구간 거리': '150m', '평균 속도': '21.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_d9184eb26d1fe38e6fd4a8e21a65b368 = L.polyline(
                [[37.50331962748882, 127.00260690356208], [37.50472902176365, 127.00145280132136], [37.505061027936584, 127.00120276216465]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_0f2cd4b473a86eaa35b47beeff1dcc2d = L.popup({"maxWidth": "100%"});

        
            
                var html_82a66d5252a185579ae59d7efd9abbd1 = $(`<div id="html_82a66d5252a185579ae59d7efd9abbd1" style="width: 100.0%; height: 100.0%;">{'도로명': '반포대로', '구간명': '고속터미널사거리 ~ 반포대교고가차도남측', '구간 거리': '230m', '평균 속도': '15.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_0f2cd4b473a86eaa35b47beeff1dcc2d.setContent(html_82a66d5252a185579ae59d7efd9abbd1);
            
        

        poly_line_d9184eb26d1fe38e6fd4a8e21a65b368.bindPopup(popup_0f2cd4b473a86eaa35b47beeff1dcc2d)
        ;

        
    
    
            poly_line_d9184eb26d1fe38e6fd4a8e21a65b368.bindTooltip(
                `<div>
                     {'도로명': '반포대로', '구간명': '고속터미널사거리 ~ 반포대교고가차도남측', '구간 거리': '230m', '평균 속도': '15.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_bc47d3f4f99028cd196be37109991cd0 = L.polyline(
                [[37.50473503601887, 127.01031528773039], [37.50257444196195, 127.01150376605688]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_ef50e528a346bfc0ae7749695b89691d = L.popup({"maxWidth": "100%"});

        
            
                var html_3e48ae61d87faf2611c8312e06317264 = $(`<div id="html_3e48ae61d87faf2611c8312e06317264" style="width: 100.0%; height: 100.0%;">{'도로명': '서초중앙로', '구간명': '삼호가든맨션앞교차로 ~ 삼호가든사거리', '구간 거리': '262m', '평균 속도': '24.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_ef50e528a346bfc0ae7749695b89691d.setContent(html_3e48ae61d87faf2611c8312e06317264);
            
        

        poly_line_bc47d3f4f99028cd196be37109991cd0.bindPopup(popup_ef50e528a346bfc0ae7749695b89691d)
        ;

        
    
    
            poly_line_bc47d3f4f99028cd196be37109991cd0.bindTooltip(
                `<div>
                     {'도로명': '서초중앙로', '구간명': '삼호가든맨션앞교차로 ~ 삼호가든사거리', '구간 거리': '262m', '평균 속도': '24.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_639986fc5be477c71bc255ec54aefbff = L.polyline(
                [[37.50470347544193, 127.01038908012575], [37.504785391898416, 127.0109795938226], [37.50483258645717, 127.01150146041272], [37.50484667911726, 127.01208766771909], [37.504808863297185, 127.01274508017914], [37.50472382836445, 127.01335536290642], [37.504610286444105, 127.01390136841763], [37.504467815129374, 127.01445546779235], [37.50436304295363, 127.01483785525302]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_cc7220261309cc0ebbd15ecdf26f76c0 = L.popup({"maxWidth": "100%"});

        
            
                var html_885e1e661132068333db550cfa0121cf = $(`<div id="html_885e1e661132068333db550cfa0121cf" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '원촌중교입구 ~ 삼호가든사거리', '구간 거리': '401m', '평균 속도': '27.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_cc7220261309cc0ebbd15ecdf26f76c0.setContent(html_885e1e661132068333db550cfa0121cf);
            
        

        poly_line_639986fc5be477c71bc255ec54aefbff.bindPopup(popup_cc7220261309cc0ebbd15ecdf26f76c0)
        ;

        
    
    
            poly_line_639986fc5be477c71bc255ec54aefbff.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '원촌중교입구 ~ 삼호가든사거리', '구간 거리': '401m', '평균 속도': '27.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_13e5a0536a6def1ec38e2718ae45606c = L.polyline(
                [[37.50446528530076, 127.01488199437571], [37.50457039294192, 127.01449838281594], [37.504714124639726, 127.0139393802559], [37.50482956618748, 127.0133842406794], [37.50491630909705, 127.01276169995845], [37.50495491750199, 127.01209051599035], [37.50494052244073, 127.01149174270601], [37.50489246016129, 127.01096028235615], [37.50480999344402, 127.01036579806056]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_706571a2b418b4c42590e59b990c2810 = L.popup({"maxWidth": "100%"});

        
            
                var html_7733eb1d0bd56d06cd0502b7193b51c4 = $(`<div id="html_7733eb1d0bd56d06cd0502b7193b51c4" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 원촌중교입구', '구간 거리': '408m', '평균 속도': '18.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_706571a2b418b4c42590e59b990c2810.setContent(html_7733eb1d0bd56d06cd0502b7193b51c4);
            
        

        poly_line_13e5a0536a6def1ec38e2718ae45606c.bindPopup(popup_706571a2b418b4c42590e59b990c2810)
        ;

        
    
    
            poly_line_13e5a0536a6def1ec38e2718ae45606c.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '삼호가든사거리 ~ 원촌중교입구', '구간 거리': '408m', '평균 속도': '18.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_aff89d27973933e5a1b265da20caa8e5 = L.polyline(
                [[37.50609320755947, 127.00438022877857], [37.50505572507109, 127.00106159522672]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_c49cf4b618b0eb7168dc0a50a734361f = L.popup({"maxWidth": "100%"});

        
            
                var html_9ec898638aa99d9c49e86bb7011abe07 = $(`<div id="html_9ec898638aa99d9c49e86bb7011abe07" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로', '구간명': '고속터미널사거리 ~ 고속터미널역앞교차로', '구간 거리': '315m', '평균 속도': '23.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_c49cf4b618b0eb7168dc0a50a734361f.setContent(html_9ec898638aa99d9c49e86bb7011abe07);
            
        

        poly_line_aff89d27973933e5a1b265da20caa8e5.bindPopup(popup_c49cf4b618b0eb7168dc0a50a734361f)
        ;

        
    
    
            poly_line_aff89d27973933e5a1b265da20caa8e5.bindTooltip(
                `<div>
                     {'도로명': '신반포로', '구간명': '고속터미널사거리 ~ 고속터미널역앞교차로', '구간 거리': '315m', '평균 속도': '23.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_00f3663b543eeb88fd876ec59283ea08 = L.polyline(
                [[37.50495507781133, 127.00111117443711], [37.5059925580238, 127.00442980421955]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_dbda36aceeef6b084d4ed1b0ab7e1412 = L.popup({"maxWidth": "100%"});

        
            
                var html_e74f8596b1d177a22bcf2364939b64e8 = $(`<div id="html_e74f8596b1d177a22bcf2364939b64e8" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로', '구간명': '고속터미널역앞교차로 ~ 고속터미널사거리', '구간 거리': '315m', '평균 속도': '26.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_dbda36aceeef6b084d4ed1b0ab7e1412.setContent(html_e74f8596b1d177a22bcf2364939b64e8);
            
        

        poly_line_00f3663b543eeb88fd876ec59283ea08.bindPopup(popup_dbda36aceeef6b084d4ed1b0ab7e1412)
        ;

        
    
    
            poly_line_00f3663b543eeb88fd876ec59283ea08.bindTooltip(
                `<div>
                     {'도로명': '신반포로', '구간명': '고속터미널역앞교차로 ~ 고속터미널사거리', '구간 거리': '315m', '평균 속도': '26.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_860a493d72c67e46dfafcdf7c05254ce = L.polyline(
                [[37.506144230413874, 127.00964832485037], [37.504737664368996, 127.01031394337143]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_05405f1e91f0e04b4c86ea01a71cfc57 = L.popup({"maxWidth": "100%"});

        
            
                var html_4364efc2cee9f8e7ec21f0e700514a51 = $(`<div id="html_4364efc2cee9f8e7ec21f0e700514a51" style="width: 100.0%; height: 100.0%;">{'도로명': '잠원로', '구간명': '삼호가든사거리 ~ 반포제1동새마을회관', '구간 거리': '167m', '평균 속도': '13.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_05405f1e91f0e04b4c86ea01a71cfc57.setContent(html_4364efc2cee9f8e7ec21f0e700514a51);
            
        

        poly_line_860a493d72c67e46dfafcdf7c05254ce.bindPopup(popup_05405f1e91f0e04b4c86ea01a71cfc57)
        ;

        
    
    
            poly_line_860a493d72c67e46dfafcdf7c05254ce.bindTooltip(
                `<div>
                     {'도로명': '잠원로', '구간명': '삼호가든사거리 ~ 반포제1동새마을회관', '구간 거리': '167m', '평균 속도': '13.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_0a1339780a7cb46251ea6ac5be0e4236 = L.polyline(
                [[37.5073804790033, 127.00895901610609], [37.5070467103003, 127.00916394780218], [37.50614204989149, 127.00964942502189]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_c843080237227b0f0aa5e8399074e956 = L.popup({"maxWidth": "100%"});

        
            
                var html_f5fc4101047020488e1ad776d5334bbb = $(`<div id="html_f5fc4101047020488e1ad776d5334bbb" style="width: 100.0%; height: 100.0%;">{'도로명': '잠원로', '구간명': '반포제1동새마을회관 ~ 고속터미널앞교차로', '구간 거리': '150m', '평균 속도': '13.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_c843080237227b0f0aa5e8399074e956.setContent(html_f5fc4101047020488e1ad776d5334bbb);
            
        

        poly_line_0a1339780a7cb46251ea6ac5be0e4236.bindPopup(popup_c843080237227b0f0aa5e8399074e956)
        ;

        
    
    
            poly_line_0a1339780a7cb46251ea6ac5be0e4236.bindTooltip(
                `<div>
                     {'도로명': '잠원로', '구간명': '반포제1동새마을회관 ~ 고속터미널앞교차로', '구간 거리': '150m', '평균 속도': '13.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_7fa9be1c60e6679c5d3e03d97171850c = L.polyline(
                [[37.504775804484304, 127.0104409348637], [37.506182371235376, 127.0097753183868]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_56224c86211717ec059f5c214cbe7b35 = L.popup({"maxWidth": "100%"});

        
            
                var html_a3a4635a97b9f8d76235a1d17822a71f = $(`<div id="html_a3a4635a97b9f8d76235a1d17822a71f" style="width: 100.0%; height: 100.0%;">{'도로명': '잠원로', '구간명': '반포제1동새마을회관 ~ 삼호가든사거리', '구간 거리': '167m', '평균 속도': '37.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_56224c86211717ec059f5c214cbe7b35.setContent(html_a3a4635a97b9f8d76235a1d17822a71f);
            
        

        poly_line_7fa9be1c60e6679c5d3e03d97171850c.bindPopup(popup_56224c86211717ec059f5c214cbe7b35)
        ;

        
    
    
            poly_line_7fa9be1c60e6679c5d3e03d97171850c.bindTooltip(
                `<div>
                     {'도로명': '잠원로', '구간명': '반포제1동새마을회관 ~ 삼호가든사거리', '구간 거리': '167m', '평균 속도': '37.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_08e17a8436587a0a5de2cbf26293e7b1 = L.polyline(
                [[37.50618455175893, 127.00977421821842], [37.50709174370388, 127.0092873842083], [37.507427985993836, 127.00908093429442]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_5319d712055a906dc87602f61bd5027a = L.popup({"maxWidth": "100%"});

        
            
                var html_e94cefd1360cfb34e52e014f75593992 = $(`<div id="html_e94cefd1360cfb34e52e014f75593992" style="width: 100.0%; height: 100.0%;">{'도로명': '잠원로', '구간명': '고속터미널앞교차로 ~ 반포제1동새마을회관', '구간 거리': '151m', '평균 속도': '19.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_5319d712055a906dc87602f61bd5027a.setContent(html_e94cefd1360cfb34e52e014f75593992);
            
        

        poly_line_08e17a8436587a0a5de2cbf26293e7b1.bindPopup(popup_5319d712055a906dc87602f61bd5027a)
        ;

        
    
    
            poly_line_08e17a8436587a0a5de2cbf26293e7b1.bindTooltip(
                `<div>
                     {'도로명': '잠원로', '구간명': '고속터미널앞교차로 ~ 반포제1동새마을회관', '구간 거리': '151m', '평균 속도': '19.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_dcbdd0132160bbc4b2964b3c40831d1f = L.polyline(
                [[37.50745492980727, 127.00899641275686], [37.50609357872824, 127.00438145139837]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_512dde3ae37388d1a44c108a57e6c561 = L.popup({"maxWidth": "100%"});

        
            
                var html_b1cd8e1f9f4831a6b606ca345ec36d8f = $(`<div id="html_b1cd8e1f9f4831a6b606ca345ec36d8f" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로', '구간명': '고속터미널역앞교차로 ~ 고속터미널앞교차로', '구간 거리': '435m', '평균 속도': '31.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_512dde3ae37388d1a44c108a57e6c561.setContent(html_b1cd8e1f9f4831a6b606ca345ec36d8f);
            
        

        poly_line_dcbdd0132160bbc4b2964b3c40831d1f.bindPopup(popup_512dde3ae37388d1a44c108a57e6c561)
        ;

        
    
    
            poly_line_dcbdd0132160bbc4b2964b3c40831d1f.bindTooltip(
                `<div>
                     {'도로명': '신반포로', '구간명': '고속터미널역앞교차로 ~ 고속터미널앞교차로', '구간 거리': '435m', '평균 속도': '31.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_db21952da8203a8af306ff054000c9f0 = L.polyline(
                [[37.50599218685545, 127.00442858160116], [37.50735353611725, 127.0090435375732]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_3e196b4e9a5e72e0cf31b2fe2cbe3d4d = L.popup({"maxWidth": "100%"});

        
            
                var html_bebe4b0bc984bffeaf3b2336a8ad0834 = $(`<div id="html_bebe4b0bc984bffeaf3b2336a8ad0834" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로', '구간명': '고속터미널앞교차로 ~ 고속터미널역앞교차로', '구간 거리': '435m', '평균 속도': '12.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_3e196b4e9a5e72e0cf31b2fe2cbe3d4d.setContent(html_bebe4b0bc984bffeaf3b2336a8ad0834);
            
        

        poly_line_db21952da8203a8af306ff054000c9f0.bindPopup(popup_3e196b4e9a5e72e0cf31b2fe2cbe3d4d)
        ;

        
    
    
            poly_line_db21952da8203a8af306ff054000c9f0.bindTooltip(
                `<div>
                     {'도로명': '신반포로', '구간명': '고속터미널앞교차로 ~ 고속터미널역앞교차로', '구간 거리': '435m', '평균 속도': '12.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_2fdb9f115ad903a6c476565a06343d9e = L.polyline(
                [[37.50504766143491, 127.00121130531535], [37.50539328521999, 127.0010270780474], [37.507398069344504, 127.00010058617941]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_be2a8712afdff44f58be8905033a04f5 = L.popup({"maxWidth": "100%"});

        
            
                var html_55a14aab47522010b0ed5a7ca1996388 = $(`<div id="html_55a14aab47522010b0ed5a7ca1996388" style="width: 100.0%; height: 100.0%;">{'도로명': '반포대로', '구간명': '반포대교고가차도북측 ~ 고속터미널사거리', '구간 거리': '279m', '평균 속도': '25.5km/h', '혼잡도': '원활'}</div>`)[0];
                popup_be2a8712afdff44f58be8905033a04f5.setContent(html_55a14aab47522010b0ed5a7ca1996388);
            
        

        poly_line_2fdb9f115ad903a6c476565a06343d9e.bindPopup(popup_be2a8712afdff44f58be8905033a04f5)
        ;

        
    
    
            poly_line_2fdb9f115ad903a6c476565a06343d9e.bindTooltip(
                `<div>
                     {'도로명': '반포대로', '구간명': '반포대교고가차도북측 ~ 고속터미널사거리', '구간 거리': '279m', '평균 속도': '25.5km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_76764b7712cb7ee6590e5cec8c197157 = L.polyline(
                [[37.507353616285826, 127.00904381015565], [37.50813711568502, 127.01166570387885]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_7c84dd77e9ef30901804de3983a27ab7 = L.popup({"maxWidth": "100%"});

        
            
                var html_adca283ce15818f71bd3a0fbc4dbc27d = $(`<div id="html_adca283ce15818f71bd3a0fbc4dbc27d" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로', '구간명': '신반포주공아파트앞교차로 ~ 고속터미널앞교차로', '구간 거리': '248m', '평균 속도': '16.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_7c84dd77e9ef30901804de3983a27ab7.setContent(html_adca283ce15818f71bd3a0fbc4dbc27d);
            
        

        poly_line_76764b7712cb7ee6590e5cec8c197157.bindPopup(popup_7c84dd77e9ef30901804de3983a27ab7)
        ;

        
    
    
            poly_line_76764b7712cb7ee6590e5cec8c197157.bindTooltip(
                `<div>
                     {'도로명': '신반포로', '구간명': '신반포주공아파트앞교차로 ~ 고속터미널앞교차로', '구간 거리': '248m', '평균 속도': '16.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_2163e7de5948ae3f850ded10e304440a = L.polyline(
                [[37.50789770994144, 127.00861950639764], [37.50737918329563, 127.00895983932473]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_9229c1cb4009275d1cdec3a4ddc70fb1 = L.popup({"maxWidth": "100%"});

        
            
                var html_bfcd87b2bc2a1a12e56fa1c654bcc046 = $(`<div id="html_bfcd87b2bc2a1a12e56fa1c654bcc046" style="width: 100.0%; height: 100.0%;">{'도로명': '잠원로', '구간명': '고속터미널앞교차로 ~ 고속터미널', '구간 거리': '65m', '평균 속도': '4.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_9229c1cb4009275d1cdec3a4ddc70fb1.setContent(html_bfcd87b2bc2a1a12e56fa1c654bcc046);
            
        

        poly_line_2163e7de5948ae3f850ded10e304440a.bindPopup(popup_9229c1cb4009275d1cdec3a4ddc70fb1)
        ;

        
    
    
            poly_line_2163e7de5948ae3f850ded10e304440a.bindTooltip(
                `<div>
                     {'도로명': '잠원로', '구간명': '고속터미널앞교차로 ~ 고속터미널', '구간 거리': '65m', '평균 속도': '4.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_b8f9ff9de4fc230573a4aa04aeef22eb = L.polyline(
                [[37.5083478306602, 127.00321962529728], [37.506023478388244, 127.00434167953419]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_e03e8e1efc1f1c3f7d3b4258e7e24c79 = L.popup({"maxWidth": "100%"});

        
            
                var html_a2ee26ed83026938c685cafdf821b99d = $(`<div id="html_a2ee26ed83026938c685cafdf821b99d" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로23길', '구간명': '고속터미널역앞교차로 ~ 한신교회', '구간 거리': '276m', '평균 속도': '19.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_e03e8e1efc1f1c3f7d3b4258e7e24c79.setContent(html_a2ee26ed83026938c685cafdf821b99d);
            
        

        poly_line_b8f9ff9de4fc230573a4aa04aeef22eb.bindPopup(popup_e03e8e1efc1f1c3f7d3b4258e7e24c79)
        ;

        
    
    
            poly_line_b8f9ff9de4fc230573a4aa04aeef22eb.bindTooltip(
                `<div>
                     {'도로명': '신반포로23길', '구간명': '고속터미널역앞교차로 ~ 한신교회', '구간 거리': '276m', '평균 속도': '19.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_f6213e34ad9cc7a2b825aadb4334f4bb = L.polyline(
                [[37.50606228716656, 127.00446835353], [37.508386639725224, 127.0033463037711]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_4482136231743fc176999e8cd2853ebc = L.popup({"maxWidth": "100%"});

        
            
                var html_37dde48dd03d34b1c2db50145321cfb2 = $(`<div id="html_37dde48dd03d34b1c2db50145321cfb2" style="width: 100.0%; height: 100.0%;">{'도로명': '신반포로23길', '구간명': '한신교회 ~ 고속터미널역앞교차로', '구간 거리': '276m', '평균 속도': '15.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_4482136231743fc176999e8cd2853ebc.setContent(html_37dde48dd03d34b1c2db50145321cfb2);
            
        

        poly_line_f6213e34ad9cc7a2b825aadb4334f4bb.bindPopup(popup_4482136231743fc176999e8cd2853ebc)
        ;

        
    
    
            poly_line_f6213e34ad9cc7a2b825aadb4334f4bb.bindTooltip(
                `<div>
                     {'도로명': '신반포로23길', '구간명': '한신교회 ~ 고속터미널역앞교차로', '구간 거리': '276m', '평균 속도': '15.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_c6056b3732c85f2f16b4cd682ca37b4a = L.polyline(
                [[37.500622591614885, 126.99983810973187], [37.50159203374891, 127.00229874690048], [37.50209572851183, 127.0034759134464], [37.50327199130785, 127.00650757386748]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_5a46127ff5330712ab0875ae880f5122 = L.popup({"maxWidth": "100%"});

        
            
                var html_4575ee0735415b0b7b3b235b0770d4e1 = $(`<div id="html_4575ee0735415b0b7b3b235b0770d4e1" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '사평지하차도동측 ~ 사평지하차도서측', '구간 거리': '659m', '평균 속도': '11.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_5a46127ff5330712ab0875ae880f5122.setContent(html_4575ee0735415b0b7b3b235b0770d4e1);
            
        

        poly_line_c6056b3732c85f2f16b4cd682ca37b4a.bindPopup(popup_5a46127ff5330712ab0875ae880f5122)
        ;

        
    
    
            poly_line_c6056b3732c85f2f16b4cd682ca37b4a.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '사평지하차도동측 ~ 사평지하차도서측', '구간 거리': '659m', '평균 속도': '11.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_3ab6482cd3471ec6504e6a1638321567 = L.polyline(
                [[37.50336919955709, 127.00644815556198], [37.502191994675634, 127.00341407304172], [37.501688147041655, 127.00223654350039], [37.500719509131024, 126.99977795205223]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_57206e4a4d95d6f504a719ca26f7d7b8 = L.popup({"maxWidth": "100%"});

        
            
                var html_89564a287a4dfeb61d53a2ec1d84e71f = $(`<div id="html_89564a287a4dfeb61d53a2ec1d84e71f" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로', '구간명': '사평지하차도서측 ~ 사평지하차도동측', '구간 거리': '659m', '평균 속도': '50.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_57206e4a4d95d6f504a719ca26f7d7b8.setContent(html_89564a287a4dfeb61d53a2ec1d84e71f);
            
        

        poly_line_3ab6482cd3471ec6504e6a1638321567.bindPopup(popup_57206e4a4d95d6f504a719ca26f7d7b8)
        ;

        
    
    
            poly_line_3ab6482cd3471ec6504e6a1638321567.bindTooltip(
                `<div>
                     {'도로명': '사평대로', '구간명': '사평지하차도서측 ~ 사평지하차도동측', '구간 거리': '659m', '평균 속도': '50.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_a8ca073469e50dae81b6ff3427586b67 = L.polyline(
                [[37.50449971340507, 127.00960800018072], [37.50433634312137, 127.00989154072654], [37.5042447837238, 127.00997870758562], [37.50312630719874, 127.01054635901986], [37.5029962449152, 127.0106302950292], [37.502881961723475, 127.01072590316866], [37.50279311689176, 127.01083739645526], [37.50269522355345, 127.01100276485742], [37.502607874759086, 127.01121244897661], [37.502543561772484, 127.01155013981487]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_90db7debc7418623d1f08b942a6c8f6b = L.popup({"maxWidth": "100%"});

        
            
                var html_afd5721b183a7e6e66bf5f998792bf20 = $(`<div id="html_afd5721b183a7e6e66bf5f998792bf20" style="width: 100.0%; height: 100.0%;">{'도로명': '고무래로', '구간명': '삼호가든맨션앞교차로 ~ 삼호가든사거리', '구간 거리': '293m', '평균 속도': '7.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_90db7debc7418623d1f08b942a6c8f6b.setContent(html_afd5721b183a7e6e66bf5f998792bf20);
            
        

        poly_line_a8ca073469e50dae81b6ff3427586b67.bindPopup(popup_90db7debc7418623d1f08b942a6c8f6b)
        ;

        
    
    
            poly_line_a8ca073469e50dae81b6ff3427586b67.bindTooltip(
                `<div>
                     {'도로명': '고무래로', '구간명': '삼호가든맨션앞교차로 ~ 삼호가든사거리', '구간 거리': '293m', '평균 속도': '7.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_30fecdb9bef8ff8e8cf88bcc8801e9ac = L.polyline(
                [[37.50264871956625, 127.01158169329958], [37.50270991089764, 127.01126039561053], [37.50278708964016, 127.01107512332692], [37.50287517049549, 127.01092632957031], [37.502950834884395, 127.01083137889763], [37.50305112087347, 127.01074748086457], [37.50317138333071, 127.01066986897341], [37.504298654635384, 127.01009775632232], [37.504414513492094, 127.00998745555376], [37.50458732247922, 127.00968753297822]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_f1041288d0853106813ea5065c0a6563 = L.popup({"maxWidth": "100%"});

        
            
                var html_f6a650bd3eab40a615a7005b842ddf7f = $(`<div id="html_f6a650bd3eab40a615a7005b842ddf7f" style="width: 100.0%; height: 100.0%;">{'도로명': '고무래로', '구간명': '삼호가든사거리 ~ 삼호가든맨션앞교차로', '구간 거리': '288m', '평균 속도': '12.0km/h', '혼잡도': '정체'}</div>`)[0];
                popup_f1041288d0853106813ea5065c0a6563.setContent(html_f6a650bd3eab40a615a7005b842ddf7f);
            
        

        poly_line_30fecdb9bef8ff8e8cf88bcc8801e9ac.bindPopup(popup_f1041288d0853106813ea5065c0a6563)
        ;

        
    
    
            poly_line_30fecdb9bef8ff8e8cf88bcc8801e9ac.bindTooltip(
                `<div>
                     {'도로명': '고무래로', '구간명': '삼호가든사거리 ~ 삼호가든맨션앞교차로', '구간 거리': '288m', '평균 속도': '12.0km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_da50f754cdbe37f04ed48b29fb269350 = L.polyline(
                [[37.50734203585177, 126.99990954093208], [37.50533353925056, 127.00083775399767], [37.504980812198085, 127.00102576951772], [37.504642965129584, 127.00128020628819], [37.50323101542309, 127.0024364071377]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_372ebeca8bf9c1544636c0cdeddf2f94 = L.popup({"maxWidth": "100%"});

        
            
                var html_b44a254e81c3fef86713d0c4112b89a4 = $(`<div id="html_b44a254e81c3fef86713d0c4112b89a4" style="width: 100.0%; height: 100.0%;">{'도로명': '반포대로', '구간명': '반포대교고가차도남측 ~ 반포대교고가차도북측', '구간 거리': '511m', '평균 속도': '12.7km/h', '혼잡도': '정체'}</div>`)[0];
                popup_372ebeca8bf9c1544636c0cdeddf2f94.setContent(html_b44a254e81c3fef86713d0c4112b89a4);
            
        

        poly_line_da50f754cdbe37f04ed48b29fb269350.bindPopup(popup_372ebeca8bf9c1544636c0cdeddf2f94)
        ;

        
    
    
            poly_line_da50f754cdbe37f04ed48b29fb269350.bindTooltip(
                `<div>
                     {'도로명': '반포대로', '구간명': '반포대교고가차도남측 ~ 반포대교고가차도북측', '구간 거리': '511m', '평균 속도': '12.7km/h', '혼잡도': '정체'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_5b14be79ed39cfd3a3a33a14b694112e = L.polyline(
                [[37.503290090161045, 127.00255007137584], [37.50470033624715, 127.00139526959966], [37.505029990658734, 127.00114700135008], [37.50537336993062, 127.00096397037426], [37.507379391548014, 127.00003690477556]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_26fb502ea96a1609b506c8668266e19e = L.popup({"maxWidth": "100%"});

        
            
                var html_bdb8e0b60f0297912c470cd4cbeb0f41 = $(`<div id="html_bdb8e0b60f0297912c470cd4cbeb0f41" style="width: 100.0%; height: 100.0%;">{'도로명': '반포대로', '구간명': '반포대교고가차도북측 ~ 반포대교고가차도남측', '구간 거리': '508m', '평균 속도': '22.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_26fb502ea96a1609b506c8668266e19e.setContent(html_bdb8e0b60f0297912c470cd4cbeb0f41);
            
        

        poly_line_5b14be79ed39cfd3a3a33a14b694112e.bindPopup(popup_26fb502ea96a1609b506c8668266e19e)
        ;

        
    
    
            poly_line_5b14be79ed39cfd3a3a33a14b694112e.bindTooltip(
                `<div>
                     {'도로명': '반포대로', '구간명': '반포대교고가차도북측 ~ 반포대교고가차도남측', '구간 거리': '508m', '평균 속도': '22.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_f2a604e5077ad87a3f2a464564372124 = L.polyline(
                [[37.506113436606235, 127.00973803541292], [37.50627779957869, 127.01023068020804], [37.50608845754726, 127.0103376017301], [37.505654527657875, 127.01055570822703], [37.505542682284144, 127.01063591174659], [37.50545773923642, 127.01076383146344], [37.505428530740346, 127.01088843504287], [37.505428441540886, 127.01181658690034], [37.505400211940696, 127.01218225241041], [37.50522903870704, 127.01351801360603], [37.504938231891856, 127.01501137856184], [37.504431527362726, 127.01479566239666]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_214af10328815d55ebf39820ca6f0a3d = L.popup({"maxWidth": "100%"});

        
            
                var html_93bd8f0547c42eaf5fc1f20fa6975539 = $(`<div id="html_93bd8f0547c42eaf5fc1f20fa6975539" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로45길', '구간명': '원촌중교입구 ~ 반포제1동새마을회관', '구간 거리': '592m', '평균 속도': '22.0km/h', '혼잡도': '서행'}</div>`)[0];
                popup_214af10328815d55ebf39820ca6f0a3d.setContent(html_93bd8f0547c42eaf5fc1f20fa6975539);
            
        

        poly_line_f2a604e5077ad87a3f2a464564372124.bindPopup(popup_214af10328815d55ebf39820ca6f0a3d)
        ;

        
    
    
            poly_line_f2a604e5077ad87a3f2a464564372124.bindTooltip(
                `<div>
                     {'도로명': '사평대로45길', '구간명': '원촌중교입구 ~ 반포제1동새마을회관', '구간 거리': '592m', '평균 속도': '22.0km/h', '혼잡도': '서행'}
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_9841d5f2f310cc9a69dd03006db2f3ac = L.polyline(
                [[37.50439679996026, 127.01492418717203], [37.50501524263776, 127.01518747385765], [37.50533509836312, 127.01354494658145], [37.50550750095971, 127.01219959192268], [37.50553656151751, 127.01182315570723], [37.505536649569756, 127.01090799520611], [37.50555513734572, 127.01082912335085], [37.50561324846248, 127.0107416119205], [37.50570166445065, 127.01067820928508], [37.50613075054325, 127.01046253770288], [37.50641821518941, 127.01030020793904], [37.50621316507083, 127.0096856088881]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9119a083f88cb60c766c946a1b665f4b);
        
    
        var popup_e4ab218045be6b7cd121e2034573afc1 = L.popup({"maxWidth": "100%"});

        
            
                var html_347843fb697e5fd1bb8b42736841a533 = $(`<div id="html_347843fb697e5fd1bb8b42736841a533" style="width: 100.0%; height: 100.0%;">{'도로명': '사평대로45길', '구간명': '반포제1동새마을회관 ~ 원촌중교입구', '구간 거리': '631m', '평균 속도': '56.0km/h', '혼잡도': '원활'}</div>`)[0];
                popup_e4ab218045be6b7cd121e2034573afc1.setContent(html_347843fb697e5fd1bb8b42736841a533);
            
        

        poly_line_9841d5f2f310cc9a69dd03006db2f3ac.bindPopup(popup_e4ab218045be6b7cd121e2034573afc1)
        ;

        
    
    
            poly_line_9841d5f2f310cc9a69dd03006db2f3ac.bindTooltip(
                `<div>
                     {'도로명': '사평대로45길', '구간명': '반포제1동새마을회관 ~ 원촌중교입구', '구간 거리': '631m', '평균 속도': '56.0km/h', '혼잡도': '원활'}
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>